In [1]:
import pandas as pd
df = pd.read_csv("DELIVERIES_DATA.csv")
print(df)

        match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
0       Royal Challengers Bangalore     1     1      DA Warner       S Dhawan
1       Royal Challengers Bangalore     1     2      DA Warner       S Dhawan
2       Royal Challengers Bangalore     1     3      DA Warner       S Dhawan
3       Royal Challengers Bangalore     1     4      DA Warner       S Dhawan
4       Royal Challengers Bangalore     1     5      DA Warner       S Dhawan
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

          bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
0       TS Mills              0  ...         0            0            0
1       TS Mills              0  ...         0            0            0
2       TS Mills              0  ...         0            0            0
3       TS Mills              0  ...         0            0            0
4       TS Mills              0  ...         0            0            0
...          ...            ...  ...       ...          ...          ...
150455   B Kumar              0  ...         0            0            0
150456   B Kumar              0  ...         0            0            0
150457   B Kumar              0  ...         0            1            0
150458   B Kumar              0  ...         0            0            0
150459   B Kumar              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
0                  0             0           0           0               NaN
1                  0             0           0           0               NaN
2                  0             4           0           4               NaN
3                  0             0           0           0               NaN
4                  0             0           2           2               NaN
...              ...           ...         ...         ...               ...
150455             0             2           0           2               NaN
150456             0             0           0           0         CJ Jordan
150457             0             0           1           1               NaN
150458             0             1           0           1               NaN
150459             0             4           0           4               NaN

       dismissal_kind  fielder
0                 NaN      NaN
1                 NaN      NaN
2                 NaN      NaN
3                 NaN      NaN
4                 NaN      NaN
...               ...      ...
150455            NaN      NaN
150456        run out  NV Ojha
150457            NaN      NaN
150458            NaN      NaN
150459            NaN      NaN

[150460 rows x 21 columns]

In [2]:
print ( len(df) )

150460

In [3]:
print ( df.size )

3159660

In [4]:
runs = df.groupby("batsman")
print(runs)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023632F24BE0>

In [5]:
print ( runs.get_group("V Kohli") )

        match_id  inning                 batting_team         bowling_team  \
2590          12       1  Royal Challengers Bangalore       Mumbai Indians
2591          12       1  Royal Challengers Bangalore       Mumbai Indians
2593          12       1  Royal Challengers Bangalore       Mumbai Indians
2594          12       1  Royal Challengers Bangalore       Mumbai Indians
2597          12       1  Royal Challengers Bangalore       Mumbai Indians
...          ...     ...                          ...                  ...
150410       636       2  Royal Challengers Bangalore  Sunrisers Hyderabad
150413       636       2  Royal Challengers Bangalore  Sunrisers Hyderabad
150414       636       2  Royal Challengers Bangalore  Sunrisers Hyderabad
150415       636       2  Royal Challengers Bangalore  Sunrisers Hyderabad
150416       636       2  Royal Challengers Bangalore  Sunrisers Hyderabad

        over  ball  batsman     non_striker           bowler  is_super_over  \
2590       1     2  V Kohli        CH Gayle       TG Southee              0
2591       1     3  V Kohli        CH Gayle       TG Southee              0
2593       1     5  V Kohli        CH Gayle       TG Southee              0
2594       1     6  V Kohli        CH Gayle       TG Southee              0
2597       2     1  V Kohli        CH Gayle  Harbhajan Singh              0
...      ...   ...      ...             ...              ...            ...
150410    12     5  V Kohli  AB de Villiers     Bipul Sharma              0
150413    13     2  V Kohli  AB de Villiers          BB Sran              0
150414    13     3  V Kohli  AB de Villiers          BB Sran              0
150415    13     4  V Kohli  AB de Villiers          BB Sran              0
150416    13     5  V Kohli  AB de Villiers          BB Sran              0

        ...  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
2590    ...         0            0            0             0             0
2591    ...         0            0            0             0             1
2593    ...         0            0            0             0             0
2594    ...         0            0            0             0             1
2597    ...         0            0            0             0             0
...     ...       ...          ...          ...           ...           ...
150410  ...         0            0            0             0             1
150413  ...         0            0            0             0             6
150414  ...         0            0            0             0             2
150415  ...         0            0            0             0             2
150416  ...         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind fielder
2590             1           1               NaN            NaN     NaN
2591             0           1               NaN            NaN     NaN
2593             0           0               NaN            NaN     NaN
2594             0           1               NaN            NaN     NaN
2597             0           0               NaN            NaN     NaN
...            ...         ...               ...            ...     ...
150410           0           1               NaN            NaN     NaN
150413           0           6               NaN            NaN     NaN
150414           0           2               NaN            NaN     NaN
150415           0           2               NaN            NaN     NaN
150416           0           0           V Kohli         bowled     NaN

[3494 rows x 21 columns]

In [6]:
print ( runs.get_group("V Kohli") .shape )

(3494, 21)

In [7]:
print ( runs["batsman_runs"] .sum() )

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Flintoff          62
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2591
Z Khan             117
Name: batsman_runs, Length: 461, dtype: int64

In [8]:
print ( runs["batsman_runs"] .sum() .sort_values(ascending=False) )

batsman
SK Raina        4548
V Kohli         4423
RG Sharma       4207
G Gambhir       4132
DA Warner       4014
                ...
Abdur Razzak       0
S Kaushik          0
S Ladda            0
U Kaul             0
RR Bhatkal         0
Name: batsman_runs, Length: 461, dtype: int64

In [9]:
print ( runs["batsman_runs"] .sum() .sort_values(ascending=False). head(10) )

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [10]:
mask_four = df["batsman_runs"] == 4
four_delivery = df[mask_four]

print ( four_delivery )

        match_id  inning                 batting_team  \
2              1       1          Sunrisers Hyderabad
8              1       1          Sunrisers Hyderabad
13             1       1          Sunrisers Hyderabad
30             1       1          Sunrisers Hyderabad
32             1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150403       636       2  Royal Challengers Bangalore
150407       636       2  Royal Challengers Bangalore
150418       636       2  Royal Challengers Bangalore
150447       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman  \
2       Royal Challengers Bangalore     1     3      DA Warner
8       Royal Challengers Bangalore     2     2      DA Warner
13      Royal Challengers Bangalore     2     7   MC Henriques
30      Royal Challengers Bangalore     5     5   MC Henriques
32      Royal Challengers Bangalore     6     1       S Dhawan
...                             ...   ...   ...            ...
150403          Sunrisers Hyderabad    11     4        V Kohli
150407          Sunrisers Hyderabad    12     2        V Kohli
150418          Sunrisers Hyderabad    14     1       KL Rahul
150447          Sunrisers Hyderabad    18     6    Sachin Baby
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla

           non_striker        bowler  is_super_over  ...  bye_runs  \
2             S Dhawan      TS Mills              0  ...         0
8             S Dhawan   A Choudhary              0  ...         0
13            S Dhawan   A Choudhary              0  ...         0
30            S Dhawan     S Aravind              0  ...         0
32        MC Henriques     SR Watson              0  ...         0
...                ...           ...            ...  ...       ...
150403  AB de Villiers   BCJ Cutting              0  ...         0
150407  AB de Villiers  Bipul Sharma              0  ...         0
150418  AB de Villiers  Bipul Sharma              0  ...         0
150447       STR Binny       B Kumar              0  ...         0
150459     Sachin Baby       B Kumar              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
2                 0            0             0             4           0
8                 0            0             0             4           0
13                0            0             0             4           0
30                0            0             0             4           0
32                0            0             0             4           0
...             ...          ...           ...           ...         ...
150403            0            0             0             4           0
150407            0            0             0             4           0
150418            0            0             0             4           0
150447            0            0             0             4           0
150459            0            0             0             4           0

        total_runs  player_dismissed dismissal_kind fielder
2                4               NaN            NaN     NaN
8                4               NaN            NaN     NaN
13               4               NaN            NaN     NaN
30               4               NaN            NaN     NaN
32               4               NaN            NaN     NaN
...            ...               ...            ...     ...
150403           4               NaN            NaN     NaN
150407           4               NaN            NaN     NaN
150418           4               NaN            NaN     NaN
150447           4               NaN            NaN     NaN
150459           4               NaN            NaN     NaN

[17033 rows x 21 columns]

In [11]:
print ( four_delivery.shape )

(17033, 21)

In [12]:
mask_six = df["batsman_runs"] == 6 
six_delivery = df[mask_six]

print ( six_delivery.shape )

(6523, 21)

In [13]:
mask_six = df["batsman_runs"] == 6 
six_delivery = df[mask_six]

print ( six_delivery.shape[0] )

6523

In [14]:
print ( six_delivery. groupby("batsman") ["batsman_runs"] )

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000023632F27CA0>

In [15]:
print ( six_delivery. groupby("batsman") ["batsman_runs"] .count() .sort_values(ascending=False) )

batsman
CH Gayle         266
SK Raina         174
RG Sharma        173
V Kohli          160
DA Warner        160
                ...
CK Langeveldt      1
CR Woakes          1
P Sahu             1
DE Bollinger       1
Basil Thampi       1
Name: batsman_runs, Length: 301, dtype: int64

In [16]:
print ( six_delivery. groupby("batsman") ["batsman_runs"] .count() .sort_values(ascending=False) .head(10) )

batsman
CH Gayle          266
SK Raina          174
RG Sharma         173
V Kohli           160
DA Warner         160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
Name: batsman_runs, dtype: int64

In [17]:
mask_three = df["batsman_runs"] == 3
three_delivery = df[mask_three]

print ( three_delivery.shape )

(509, 21)

In [18]:
print ( three_delivery. groupby("batsman") ["batsman_runs"] .count() .sort_values(ascending=False) )

batsman
M Vijay           17
S Dhawan          16
G Gambhir         15
AM Rahane         14
DA Warner         13
                  ..
LA Pomersbach      1
L Balaji           1
KV Sharma          1
KS Williamson      1
M Muralitharan     1
Name: batsman_runs, Length: 158, dtype: int64

In [19]:
print ( three_delivery. groupby("batsman") ["batsman_runs"] .count() .sort_values(ascending=False) .head(10) )

batsman
M Vijay           17
S Dhawan          16
G Gambhir         15
AM Rahane         14
DA Warner         13
AB de Villiers    12
RV Uthappa        12
MEK Hussey        11
MS Dhoni          11
V Kohli           11
Name: batsman_runs, dtype: int64

In [20]:
vk_delivery = df [ df["batsman"]=="V Kohli" ]
print ( vk_delivery. groupby("bowling_team") ["batsman_runs"] .sum() .sort_values(ascending=False) .head(6) )

bowling_team
Chennai Super Kings      706
Delhi Daredevils         661
Kings XI Punjab          483
Mumbai Indians           447
Sunrisers Hyderabad      439
Kolkata Knight Riders    391
Name: batsman_runs, dtype: int64

In [21]:
def runs_scored (batsman_name) :
    
    bat_delivery = df [ df["batsman"]==batsman_name ]
    
    return bat_delivery. groupby("bowling_team") ["batsman_runs"] .sum() .sort_values(ascending=False) .head(6)

print ( runs_scored("V Kohli") )

bowling_team
Chennai Super Kings      706
Delhi Daredevils         661
Kings XI Punjab          483
Mumbai Indians           447
Sunrisers Hyderabad      439
Kolkata Knight Riders    391
Name: batsman_runs, dtype: int64

In [22]:
print ( runs_scored("DA Warner") )

bowling_team
Kolkata Knight Riders          677
Kings XI Punjab                668
Royal Challengers Bangalore    569
Mumbai Indians                 465
Chennai Super Kings            338
Gujarat Lions                  336
Name: batsman_runs, dtype: int64

In [23]:
print ( runs_scored("G Gambhir") )

bowling_team
Kings XI Punjab                671
Royal Challengers Bangalore    644
Mumbai Indians                 452
Chennai Super Kings            429
Rajasthan Royals               423
Delhi Daredevils               413
Name: batsman_runs, dtype: int64

In [24]:
print ( runs_scored("MS Dhoni") )

bowling_team
Royal Challengers Bangalore    608
Mumbai Indians                 581
Kings XI Punjab                453
Delhi Daredevils               419
Kolkata Knight Riders          387
Sunrisers Hyderabad            341
Name: batsman_runs, dtype: int64

In [25]:
import pandas as pd
match = pd.read_csv("MATCH_DATA.csv")
print(match)

      id  season       city        date                        team1  \
0      1    2017  Hyderabad  2017-04-05          Sunrisers Hyderabad
1      2    2017       Pune  2017-04-06               Mumbai Indians
2      3    2017     Rajkot  2017-04-07                Gujarat Lions
3      4    2017     Indore  2017-04-08       Rising Pune Supergiant
4      5    2017  Bangalore  2017-04-08  Royal Challengers Bangalore
..   ...     ...        ...         ...                          ...
631  632    2016     Raipur  2016-05-22             Delhi Daredevils
632  633    2016  Bangalore  2016-05-24                Gujarat Lions
633  634    2016      Delhi  2016-05-25          Sunrisers Hyderabad
634  635    2016      Delhi  2016-05-27                Gujarat Lions
635  636    2016  Bangalore  2016-05-29          Sunrisers Hyderabad

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
631  Royal Challengers Bangalore  Royal Challengers Bangalore         field
632  Royal Challengers Bangalore  Royal Challengers Bangalore         field
633        Kolkata Knight Riders        Kolkata Knight Riders         field
634          Sunrisers Hyderabad          Sunrisers Hyderabad         field
635  Royal Challengers Bangalore          Sunrisers Hyderabad           bat

     result  dl_applied                       winner  win_by_runs  \
0    normal           0          Sunrisers Hyderabad           35
1    normal           0       Rising Pune Supergiant            0
2    normal           0        Kolkata Knight Riders            0
3    normal           0              Kings XI Punjab            0
4    normal           0  Royal Challengers Bangalore           15
..      ...         ...                          ...          ...
631  normal           0  Royal Challengers Bangalore            0
632  normal           0  Royal Challengers Bangalore            0
633  normal           0          Sunrisers Hyderabad           22
634  normal           0          Sunrisers Hyderabad            0
635  normal           0          Sunrisers Hyderabad            8

     win_by_wickets player_of_match  \
0                 0    Yuvraj Singh
1                 7       SPD Smith
2                10         CA Lynn
3                 6      GJ Maxwell
4                 0       KM Jadhav
..              ...             ...
631               6         V Kohli
632               4  AB de Villiers
633               0    MC Henriques
634               4       DA Warner
635               0     BCJ Cutting

                                                venue          umpire1  \
0           Rajiv Gandhi International Stadium, Uppal      AY Dandekar
1             Maharashtra Cricket Association Stadium   A Nand Kishore
2              Saurashtra Cricket Association Stadium      Nitin Menon
3                              Holkar Cricket Stadium     AK Chaudhary
4                               M Chinnaswamy Stadium              NaN
..                                                ...              ...
631  Shaheed Veer Narayan Singh International Stadium   A Nand Kishore
632                             M Chinnaswamy Stadium     AK Chaudhary
633                                  Feroz Shah Kotla        M Erasmus
634                                  Feroz Shah Kotla        M Erasmus
635                             M Chinnaswamy Stadium  HDPK Dharmasena

             umpire2  umpire3
0           NJ Llong      NaN
1             S Ravi      NaN
2          CK Nandan      NaN
3      C Shamshuddin      NaN
4                NaN      NaN
..               ...      ...
631     BNJ Oxenford      NaN
632  HDPK Dharmasena      NaN
633    C Shamshuddin      NaN
634        CK Nandan      NaN
635     BNJ Oxenford      NaN

[636 rows x 18 columns]

In [26]:
place = match.groupby("city")
print(place)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000236334348B0>

In [27]:
print ( len(place) )

30

In [28]:
print ( len(match) )

636

In [29]:
print ( place.size() )

city
Abu Dhabi          7
Ahmedabad         12
Bangalore         66
Bloemfontein       2
Cape Town          7
Centurion         12
Chandigarh        46
Chennai           48
Cuttack            7
Delhi             60
Dharamsala         9
Durban            15
East London        3
Hyderabad         49
Indore             5
Jaipur            33
Johannesburg       8
Kanpur             4
Kimberley          3
Kochi              5
Kolkata           61
Mumbai            85
Nagpur             3
Port Elizabeth     7
Pune              32
Raipur             6
Rajkot            10
Ranchi             7
Sharjah            6
Visakhapatnam     11
dtype: int64

In [30]:
print ( place.size(). sort_values(ascending=False) )

city
Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Centurion         12
Ahmedabad         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Cape Town          7
Cuttack            7
Ranchi             7
Port Elizabeth     7
Abu Dhabi          7
Raipur             6
Sharjah            6
Indore             5
Kochi              5
Kanpur             4
Nagpur             3
Kimberley          3
East London        3
Bloemfontein       2
dtype: int64

In [31]:
print ( place.first() )

                 id  season        date                        team1  \
city
Abu Dhabi       458    2014  2014-04-16        Kolkata Knight Riders
Ahmedabad       180    2010  2010-03-15             Rajasthan Royals
Bangalore         5    2017  2017-04-08  Royal Challengers Bangalore
Bloemfontein    161    2009  2009-05-15             Delhi Daredevils
Cape Town       118    2009  2009-04-18               Mumbai Indians
Centurion       133    2009  2009-04-28             Delhi Daredevils
Chandigarh       32    2017  2017-04-28          Sunrisers Hyderabad
Chennai          67    2008  2008-04-23          Chennai Super Kings
Cuttack         186    2010  2010-03-19              Deccan Chargers
Delhi            15    2017  2017-04-15             Delhi Daredevils
Dharamsala      225    2010  2010-04-16              Kings XI Punjab
Durban          123    2009  2009-04-21              Kings XI Punjab
East London     138    2009  2009-05-01               Mumbai Indians
Hyderabad         1    2017  2017-04-05          Sunrisers Hyderabad
Indore            4    2017  2017-04-08       Rising Pune Supergiant
Jaipur           65    2008  2008-04-21              Kings XI Punjab
Johannesburg    141    2009  2009-05-02          Chennai Super Kings
Kanpur           49    2017  2017-05-10                Gujarat Lions
Kimberley       151    2009  2009-05-09              Deccan Chargers
Kochi           237    2011  2011-04-09         Kochi Tuskers Kerala
Kolkata          11    2017  2017-04-13              Kings XI Punjab
Mumbai            7    2017  2017-04-09        Kolkata Knight Riders
Nagpur          210    2010  2010-04-05             Rajasthan Royals
Port Elizabeth  122    2009  2009-04-20          Chennai Super Kings
Pune              2    2017  2017-04-06               Mumbai Indians
Raipur          419    2013  2013-04-28             Delhi Daredevils
Rajkot            3    2017  2017-04-07                Gujarat Lions
Ranchi          441    2013  2013-05-12  Royal Challengers Bangalore
Sharjah         459    2014  2014-04-17             Delhi Daredevils
Visakhapatnam   313    2012  2012-04-07          Chennai Super Kings

                                      team2                  toss_winner  \
city
Abu Dhabi                    Mumbai Indians        Kolkata Knight Riders
Ahmedabad                  Delhi Daredevils             Delhi Daredevils
Bangalore                  Delhi Daredevils  Royal Challengers Bangalore
Bloemfontein                Kings XI Punjab              Kings XI Punjab
Cape Town               Chennai Super Kings          Chennai Super Kings
Centurion                  Rajasthan Royals             Delhi Daredevils
Chandigarh                  Kings XI Punjab              Kings XI Punjab
Chennai                      Mumbai Indians               Mumbai Indians
Cuttack                     Kings XI Punjab              Kings XI Punjab
Delhi                       Kings XI Punjab             Delhi Daredevils
Dharamsala                  Deccan Chargers              Deccan Chargers
Durban                Kolkata Knight Riders        Kolkata Knight Riders
East London           Kolkata Knight Riders               Mumbai Indians
Hyderabad       Royal Challengers Bangalore  Royal Challengers Bangalore
Indore                      Kings XI Punjab              Kings XI Punjab
Jaipur                     Rajasthan Royals              Kings XI Punjab
Johannesburg               Delhi Daredevils             Delhi Daredevils
Kanpur                     Delhi Daredevils             Delhi Daredevils
Kimberley                   Kings XI Punjab              Kings XI Punjab
Kochi           Royal Challengers Bangalore         Kochi Tuskers Kerala
Kolkata               Kolkata Knight Riders        Kolkata Knight Riders
Mumbai                       Mumbai Indians               Mumbai Indians
Nagpur                      Deccan Chargers             Rajasthan Royals
Port Elizabeth  Royal Challengers Bangalore          Chennai Super Kings
Pune                 Rising Pune Supergiant       Rising Pune Supergiant
Raipur                        Pune Warriors                Pune Warriors
Rajkot                Kolkata Knight Riders        Kolkata Knight Riders
Ranchi                Kolkata Knight Riders        Kolkata Knight Riders
Sharjah         Royal Challengers Bangalore  Royal Challengers Bangalore
Visakhapatnam               Deccan Chargers              Deccan Chargers

               toss_decision  result  dl_applied                       winner  \
city
Abu Dhabi                bat  normal           0        Kolkata Knight Riders
Ahmedabad              field  normal           0             Delhi Daredevils
Bangalore                bat  normal           0  Royal Challengers Bangalore
Bloemfontein           field  normal           0              Kings XI Punjab
Cape Town              field  normal           0               Mumbai Indians
Centurion                bat  normal           0             Rajasthan Royals
Chandigarh             field  normal           0          Sunrisers Hyderabad
Chennai                field  normal           0          Chennai Super Kings
Cuttack                field  normal           0              Deccan Chargers
Delhi                    bat  normal           0             Delhi Daredevils
Dharamsala             field  normal           0              Deccan Chargers
Durban                 field  normal           1        Kolkata Knight Riders
East London              bat  normal           0               Mumbai Indians
Hyderabad              field  normal           0          Sunrisers Hyderabad
Indore                 field  normal           0              Kings XI Punjab
Jaipur                   bat  normal           0             Rajasthan Royals
Johannesburg           field  normal           0          Chennai Super Kings
Kanpur                 field  normal           0             Delhi Daredevils
Kimberley              field  normal           0              Kings XI Punjab
Kochi                    bat  normal           0  Royal Challengers Bangalore
Kolkata                field  normal           0        Kolkata Knight Riders
Mumbai                 field  normal           0               Mumbai Indians
Nagpur                   bat  normal           0             Rajasthan Royals
Port Elizabeth           bat  normal           0          Chennai Super Kings
Pune                   field  normal           0       Rising Pune Supergiant
Raipur                 field  normal           0             Delhi Daredevils
Rajkot                 field  normal           0        Kolkata Knight Riders
Ranchi                 field  normal           0        Kolkata Knight Riders
Sharjah                field  normal           0  Royal Challengers Bangalore
Visakhapatnam          field  normal           0          Chennai Super Kings

                win_by_runs  win_by_wickets   player_of_match  \
city
Abu Dhabi                41               0         JH Kallis
Ahmedabad                 0               6          V Sehwag
Bangalore                15               0         KM Jadhav
Bloemfontein              0               6             B Lee
Cape Town                19               0      SR Tendulkar
Centurion                 0               5         YK Pathan
Chandigarh               26               0       Rashid Khan
Chennai                   6               0         ML Hayden
Cuttack                   6               0         A Symonds
Delhi                    51               0       CJ Anderson
Dharamsala                0               5         RG Sharma
Durban                   11               0          CH Gayle
East London               9               0         JP Duminy
Hyderabad                35               0      Yuvraj Singh
Indore                    0               6        GJ Maxwell
Jaipur                    0               6         SR Watson
Johannesburg             18               0         SB Jakati
Kanpur                    0               2           SS Iyer
Kimberley                 0               3  DPMD Jayawardene
Kochi                     0               6    AB de Villiers
Kolkata                   0               8         SP Narine
Mumbai                    0               4            N Rana
Nagpur                    2               0          SK Warne
Port Elizabeth           92               0    M Muralitharan
Pune                      0               7         SPD Smith
Raipur                   15               0         DA Warner
Rajkot                    0              10           CA Lynn
Ranchi                    0               5         JH Kallis
Sharjah                   0               8         YS Chahal
Visakhapatnam            74               0         RA Jadeja

                                                            venue  \
city
Abu Dhabi                                    Sheikh Zayed Stadium
Ahmedabad                            Sardar Patel Stadium, Motera
Bangalore                                   M Chinnaswamy Stadium
Bloemfontein                                      OUTsurance Oval
Cape Town                                                Newlands
Centurion                                         SuperSport Park
Chandigarh      Punjab Cricket Association IS Bindra Stadium, ...
Chennai                           MA Chidambaram Stadium, Chepauk
Cuttack                                          Barabati Stadium
Delhi                                            Feroz Shah Kotla
Dharamsala           Himachal Pradesh Cricket Association Stadium
Durban                                                  Kingsmead
East London                                          Buffalo Park
Hyderabad               Rajiv Gandhi International Stadium, Uppal
Indore                                     Holkar Cricket Stadium
Jaipur                                     Sawai Mansingh Stadium
Johannesburg                                New Wanderers Stadium
Kanpur                                                 Green Park
Kimberley                                   De Beers Diamond Oval
Kochi                                               Nehru Stadium
Kolkata                                              Eden Gardens
Mumbai                                           Wankhede Stadium
Nagpur               Vidarbha Cricket Association Stadium, Jamtha
Port Elizabeth                                   St George's Park
Pune                      Maharashtra Cricket Association Stadium
Raipur           Shaheed Veer Narayan Singh International Stadium
Rajkot                     Saurashtra Cricket Association Stadium
Ranchi                         JSCA International Stadium Complex
Sharjah                                   Sharjah Cricket Stadium
Visakhapatnam   Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...

                              umpire1          umpire2  umpire3
city
Abu Dhabi                   M Erasmus   RK Illingworth      NaN
Ahmedabad                  BG Jerling      RE Koertzen      NaN
Bangalore       KN Ananthapadmanabhan     AK Chaudhary      NaN
Bloemfontein          HDPK Dharmasena        IL Howell      NaN
Cape Town                 BR Doctrove      K Hariharan      NaN
Centurion                  GAV Baxter      RE Koertzen      NaN
Chandigarh                Nitin Menon        CK Nandan      NaN
Chennai                     DJ Harper   GA Pratapkumar      NaN
Cuttack                     BF Bowden        M Erasmus      NaN
Delhi                        YC Barde      Nitin Menon      NaN
Dharamsala                  M Erasmus        AM Saheba      NaN
Durban                      DJ Harper        SD Ranade      NaN
East London                 M Erasmus      SK Tarapore      NaN
Hyderabad                 AY Dandekar         NJ Llong      NaN
Indore                   AK Chaudhary    C Shamshuddin      NaN
Jaipur                      Aleem Dar        RB Tiffin      NaN
Johannesburg                DJ Harper      RE Koertzen      NaN
Kanpur                       YC Barde     AK Chaudhary      NaN
Kimberley                  GAV Baxter        AM Saheba      NaN
Kochi                 HDPK Dharmasena      K Hariharan      NaN
Kolkata                    A Deshmukh         NJ Llong      NaN
Mumbai                    Nitin Menon        CK Nandan      NaN
Nagpur                HDPK Dharmasena       SJA Taufel      NaN
Port Elizabeth             BG Jerling       SJA Taufel      NaN
Pune                   A Nand Kishore           S Ravi      NaN
Raipur                      CK Nandan           S Ravi      NaN
Rajkot                    Nitin Menon        CK Nandan      NaN
Ranchi                       NJ Llong        K Srinath      NaN
Sharjah                     Aleem Dar           S Ravi      NaN

Visakhapatnam               JD Cloete  HDPK Dharmasena      NaN

In [32]:
print ( place.last() )

                 id  season        date                        team1  \
city
Abu Dhabi       476    2014  2014-04-29             Rajasthan Royals
Ahmedabad       540    2015  2015-04-24             Rajasthan Royals
Bangalore       636    2016  2016-05-29          Sunrisers Hyderabad
Bloemfontein    165    2009  2009-05-17             Delhi Daredevils
Cape Town       130    2009  2009-04-26              Kings XI Punjab
Centurion       172    2009  2009-05-22             Delhi Daredevils
Chandigarh      622    2016  2016-05-15              Kings XI Punjab
Chennai         563    2015  2015-05-10          Chennai Super Kings
Cuttack         497    2014  2014-05-14               Mumbai Indians
Delhi           635    2016  2016-05-27                Gujarat Lions
Dharamsala      450    2013  2013-05-18              Kings XI Punjab
Durban          169    2009  2009-05-20          Chennai Super Kings
East London     150    2009  2009-05-08               Mumbai Indians
Hyderabad       618    2016  2016-05-12          Sunrisers Hyderabad
Indore          294    2011  2011-05-15             Rajasthan Royals
Jaipur          442    2013  2013-05-12          Chennai Super Kings
Johannesburg    174    2009  2009-05-24              Deccan Chargers
Kanpur          630    2016  2016-05-21               Mumbai Indians
Kimberley       155    2009  2009-05-11              Deccan Chargers
Kochi           278    2011  2011-05-05         Kochi Tuskers Kerala
Kolkata         631    2016  2016-05-22        Kolkata Knight Riders
Mumbai          600    2016  2016-04-28        Kolkata Knight Riders
Nagpur          220    2010  2010-04-12              Deccan Chargers
Port Elizabeth  162    2009  2009-05-16               Mumbai Indians
Pune            605    2016  2016-05-01      Rising Pune Supergiants
Raipur          632    2016  2016-05-22             Delhi Daredevils
Rajkot          607    2016  2016-05-03                Gujarat Lions
Ranchi          575    2015  2015-05-22  Royal Challengers Bangalore
Sharjah         474    2014  2014-04-27          Sunrisers Hyderabad
Visakhapatnam   629    2016  2016-05-21              Kings XI Punjab

                                      team2                  toss_winner  \
city
Abu Dhabi             Kolkata Knight Riders             Rajasthan Royals
Ahmedabad       Royal Challengers Bangalore  Royal Challengers Bangalore
Bangalore       Royal Challengers Bangalore          Sunrisers Hyderabad
Bloemfontein               Rajasthan Royals             Delhi Daredevils
Cape Town                  Rajasthan Royals              Kings XI Punjab
Centurion                   Deccan Chargers              Deccan Chargers
Chandigarh              Sunrisers Hyderabad              Kings XI Punjab
Chennai                    Rajasthan Royals          Chennai Super Kings
Cuttack               Kolkata Knight Riders        Kolkata Knight Riders
Delhi                   Sunrisers Hyderabad          Sunrisers Hyderabad
Dharamsala                   Mumbai Indians               Mumbai Indians
Durban                      Kings XI Punjab          Chennai Super Kings
East London                Delhi Daredevils               Mumbai Indians
Hyderabad                  Delhi Daredevils             Delhi Daredevils
Indore                 Kochi Tuskers Kerala         Kochi Tuskers Kerala
Jaipur                     Rajasthan Royals             Rajasthan Royals
Johannesburg    Royal Challengers Bangalore  Royal Challengers Bangalore
Kanpur                        Gujarat Lions                Gujarat Lions
Kimberley                  Rajasthan Royals              Deccan Chargers
Kochi                 Kolkata Knight Riders        Kolkata Knight Riders
Kolkata                 Sunrisers Hyderabad          Sunrisers Hyderabad
Mumbai                       Mumbai Indians               Mumbai Indians
Nagpur          Royal Challengers Bangalore  Royal Challengers Bangalore
Port Elizabeth          Chennai Super Kings               Mumbai Indians
Pune                         Mumbai Indians               Mumbai Indians
Raipur          Royal Challengers Bangalore  Royal Challengers Bangalore
Rajkot                     Delhi Daredevils             Delhi Daredevils
Ranchi                  Chennai Super Kings          Chennai Super Kings
Sharjah                 Chennai Super Kings          Sunrisers Hyderabad
Visakhapatnam       Rising Pune Supergiants              Kings XI Punjab

               toss_decision  result  dl_applied                       winner  \
city
Abu Dhabi                bat     tie           0             Rajasthan Royals
Ahmedabad              field  normal           0  Royal Challengers Bangalore
Bangalore                bat  normal           0          Sunrisers Hyderabad
Bloemfontein             bat  normal           0             Delhi Daredevils
Cape Town                bat  normal           0              Kings XI Punjab
Centurion              field  normal           0              Deccan Chargers
Chandigarh               bat  normal           0          Sunrisers Hyderabad
Chennai                  bat  normal           0          Chennai Super Kings
Cuttack                field  normal           0        Kolkata Knight Riders
Delhi                  field  normal           0          Sunrisers Hyderabad
Dharamsala             field  normal           0              Kings XI Punjab
Durban                   bat  normal           0          Chennai Super Kings
East London              bat  normal           0             Delhi Daredevils
Hyderabad              field  normal           0             Delhi Daredevils
Indore                 field  normal           0         Kochi Tuskers Kerala
Jaipur                 field  normal           0             Rajasthan Royals
Johannesburg           field  normal           0              Deccan Chargers
Kanpur                 field  normal           0                Gujarat Lions
Kimberley                bat  normal           0              Deccan Chargers
Kochi                  field  normal           0         Kochi Tuskers Kerala
Kolkata                field  normal           0        Kolkata Knight Riders
Mumbai                 field  normal           0               Mumbai Indians
Nagpur                 field  normal           0              Deccan Chargers
Port Elizabeth           bat  normal           0          Chennai Super Kings
Pune                   field  normal           0               Mumbai Indians
Raipur                 field  normal           0  Royal Challengers Bangalore
Rajkot                 field  normal           0             Delhi Daredevils
Ranchi                 field  normal           0          Chennai Super Kings
Sharjah                  bat  normal           0          Chennai Super Kings
Visakhapatnam            bat  normal           0      Rising Pune Supergiants

                win_by_runs  win_by_wickets player_of_match  \
city
Abu Dhabi                 0               0     JP Faulkner
Ahmedabad                 0               9        MA Starc
Bangalore                 8               0     BCJ Cutting
Bloemfontein             14               0  AB de Villiers
Cape Town                27               0   KC Sangakkara
Centurion                 0               6    AC Gilchrist
Chandigarh                0               7         HM Amla
Chennai                  12               0       RA Jadeja
Cuttack                   0               6      RV Uthappa
Delhi                     0               4       DA Warner
Dharamsala               50               0   Azhar Mahmood
Durban                   24               0  M Muralitharan
East London               0               7         A Nehra
Hyderabad                 0               7       CH Morris
Indore                    0               8        BJ Hodge
Jaipur                    0               5       SR Watson
Johannesburg              6               0        A Kumble
Kanpur                    0               6        SK Raina
Kimberley                53               0        DR Smith
Kochi                    17               0        BJ Hodge
Kolkata                  22               0       YK Pathan
Mumbai                    0               6       RG Sharma
Nagpur                   13               0   Harmeet Singh
Port Elizabeth            0               7       ML Hayden
Pune                      0               8       RG Sharma
Raipur                    0               6         V Kohli
Rajkot                    0               8         RR Pant
Ranchi                    0               3         A Nehra
Sharjah                   0               5        DR Smith
Visakhapatnam             0               4        MS Dhoni

                                                            venue  \
city
Abu Dhabi                                    Sheikh Zayed Stadium
Ahmedabad                            Sardar Patel Stadium, Motera
Bangalore                                   M Chinnaswamy Stadium
Bloemfontein                                      OUTsurance Oval
Cape Town                                                Newlands
Centurion                                         SuperSport Park
Chandigarh      Punjab Cricket Association IS Bindra Stadium, ...
Chennai                           MA Chidambaram Stadium, Chepauk
Cuttack                                          Barabati Stadium
Delhi                                            Feroz Shah Kotla
Dharamsala           Himachal Pradesh Cricket Association Stadium
Durban                                                  Kingsmead
East London                                          Buffalo Park
Hyderabad               Rajiv Gandhi International Stadium, Uppal
Indore                                     Holkar Cricket Stadium
Jaipur                                     Sawai Mansingh Stadium
Johannesburg                                New Wanderers Stadium
Kanpur                                                 Green Park
Kimberley                                   De Beers Diamond Oval
Kochi                                               Nehru Stadium
Kolkata                                              Eden Gardens
Mumbai                                           Wankhede Stadium
Nagpur               Vidarbha Cricket Association Stadium, Jamtha
Port Elizabeth                                   St George's Park
Pune                      Maharashtra Cricket Association Stadium
Raipur           Shaheed Veer Narayan Singh International Stadium
Rajkot                     Saurashtra Cricket Association Stadium
Ranchi                         JSCA International Stadium Complex
Sharjah                                   Sharjah Cricket Stadium
Visakhapatnam   Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...

                              umpire1          umpire2  umpire3
city
Abu Dhabi                   Aleem Dar     AK Chaudhary      NaN
Ahmedabad                   M Erasmus           S Ravi      NaN
Bangalore             HDPK Dharmasena     BNJ Oxenford      NaN
Bloemfontein                SS Hazare        IL Howell      NaN
Cape Town                   M Erasmus      K Hariharan      NaN
Centurion                 BR Doctrove        DJ Harper      NaN
Chandigarh      KN Ananthapadmanabhan        M Erasmus      NaN
Chennai                     M Erasmus        CK Nandan      NaN
Cuttack                  AK Chaudhary         NJ Llong      NaN
Delhi                       M Erasmus        CK Nandan      NaN
Dharamsala            HDPK Dharmasena        CK Nandan      NaN
Durban                     BG Jerling       SJA Taufel      NaN
East London                 M Erasmus      SK Tarapore      NaN
Hyderabad                  K Bharatan        M Erasmus      NaN
Indore                     PR Reiffel        RJ Tucker      NaN
Jaipur                HDPK Dharmasena        CK Nandan      NaN
Johannesburg              RE Koertzen       SJA Taufel      NaN
Kanpur                   AK Chaudhary        CK Nandan      NaN
Kimberley                  GAV Baxter  HDPK Dharmasena      NaN
Kochi                          S Ravi        RJ Tucker      NaN
Kolkata         KN Ananthapadmanabhan        M Erasmus      NaN
Mumbai                    Nitin Menon        RJ Tucker      NaN
Nagpur                    RE Koertzen        RB Tiffin      NaN
Port Elizabeth            SK Tarapore       SJA Taufel      NaN
Pune                      AY Dandekar        RJ Tucker      NaN
Raipur                 A Nand Kishore     BNJ Oxenford      NaN
Rajkot                    CB Gaffaney     BNJ Oxenford      NaN
Ranchi                   AK Chaudhary      CB Gaffaney      NaN
Sharjah                  AK Chaudhary      VA Kulkarni      NaN
Visakhapatnam         HDPK Dharmasena      Nitin Menon      NaN

In [33]:
print ( place.groups )

{'Abu Dhabi': [457, 459, 460, 464, 470, 471, 475], 'Ahmedabad': [179, 186, 194, 197, 481, 486, 497, 500, 525, 532, 535, 539], 'Bangalore': [4, 11, 16, 29, 41, 44, 56, 57, 59, 69, 73, 83, 89, 103, 110, 180, 183, 191, 196, 213, 216, 225, 241, 267, 279, 282, 290, 301, 311, 316, 325, 328, 349, 355, 366, 378, 382, 391, 400, 406, 410, 428, 431, 451, 480, 487, 491, 494, 509, 516, 524, 533, 537, 545, 549, 556, 570, 579, 586, 605, 610, 616, 619, 625, 632, 635], 'Bloemfontein': [160, 164], 'Cape Town': [117, 118, 119, 120, 123, 125, 129], 'Centurion': [132, 135, 136, 146, 147, 148, 155, 156, 165, 169, 170, 171], 'Chandigarh': [31, 34, 45, 47, 60, 68, 72, 80, 93, 96, 107, 176, 192, 195, 204, 214, 242, 255, 283, 286, 320, 329, 332, 339, 353, 365, 390, 399, 408, 435, 439, 447, 504, 508, 511, 543, 551, 565, 568, 578, 585, 588, 596, 611, 614, 621], 'Chennai': [66, 70, 78, 84, 90, 106, 109, 178, 189, 201, 205, 210, 221, 223, 234, 247, 261, 271, 275, 288, 296, 305, 306, 307, 319, 331, 333, 342, 346, 351, 363, 379, 380, 385, 395, 398, 409, 413, 417, 424, 445, 518, 520, 541, 546, 553, 558, 562], 'Cuttack': [185, 188, 336, 347, 485, 490, 496], 'Delhi': [14, 17, 38, 40, 43, 50, 54, 61, 75, 86, 97, 99, 108, 182, 184, 199, 202, 208, 217, 228, 237, 252, 258, 262, 265, 273, 300, 317, 322, 334, 341, 344, 356, 368, 371, 384, 393, 403, 407, 437, 442, 453, 454, 479, 482, 484, 488, 501, 522, 534, 538, 542, 547, 582, 592, 598, 601, 608, 633, 634], 'Dharamsala': [224, 227, 292, 295, 299, 370, 373, 411, 449], 'Durban': [122, 124, 126, 127, 130, 133, 134, 138, 144, 145, 157, 158, 159, 167, 168], 'East London': [137, 143, 149], 'Hyderabad': [0, 5, 18, 20, 35, 42, 46, 58, 65, 67, 76, 79, 91, 101, 113, 235, 244, 248, 259, 274, 278, 285, 330, 358, 372, 375, 383, 387, 404, 422, 427, 434, 448, 452, 492, 495, 499, 502, 550, 563, 567, 571, 583, 587, 593, 597, 602, 609, 617], 'Indore': [3, 7, 21, 289, 293], 'Jaipur': [64, 77, 82, 88, 92, 100, 112, 211, 218, 222, 240, 245, 260, 266, 270, 284, 287, 310, 313, 327, 337, 348, 360, 364, 376, 388, 397, 402, 415, 419, 430, 432, 441], 'Johannesburg': [140, 142, 153, 162, 163, 166, 172, 173], 'Kanpur': [48, 51, 626, 629], 'Kimberley': [150, 151, 154], 'Kochi': [236, 251, 264, 268, 277], 'Kolkata': [10, 13, 22, 26, 30, 39, 52, 63, 74, 87, 94, 102, 104, 111, 177, 181, 203, 207, 212, 226, 229, 239, 250, 254, 257, 269, 280, 302, 308, 321, 324, 343, 352, 362, 367, 381, 396, 405, 412, 414, 426, 455, 456, 503, 505, 510, 513, 517, 521, 526, 544, 554, 559, 575, 577, 580, 607, 613, 620, 623, 630], 'Mumbai': [6, 9, 15, 23, 27, 36, 49, 55, 62, 71, 81, 85, 95, 98, 105, 114, 115, 116, 174, 175, 187, 190, 193, 198, 200, 206, 220, 230, 231, 232, 233, 238, 243, 246, 249, 253, 256, 263, 272, 276, 281, 291, 294, 297, 298, 303, 304, 309, 318, 326, 335, 345, 354, 359, 369, 389, 394, 416, 420, 429, 433, 443, 446, 478, 483, 489, 507, 512, 514, 515, 523, 529, 540, 548, 552, 555, 557, 561, 566, 569, 572, 576, 584, 589, 599], 'Nagpur': [209, 215, 219], 'Port Elizabeth': [121, 128, 131, 139, 141, 152, 161], 'Pune': [1, 8, 24, 28, 32, 37, 53, 314, 323, 338, 340, 350, 357, 361, 374, 377, 386, 392, 401, 421, 425, 436, 438, 450, 519, 527, 531, 573, 591, 595, 600, 604], 'Raipur': [418, 423, 560, 564, 627, 631], 'Rajkot': [2, 12, 19, 25, 33, 581, 590, 594, 603, 606], 'Ranchi': [440, 444, 477, 493, 498, 506, 574], 'Sharjah': [458, 463, 465, 467, 472, 473], 'Visakhapatnam': [312, 315, 528, 530, 536, 612, 615, 618, 622, 624, 628]}

In [34]:
print ( match.iloc[457] )

id                                   458
season                              2014
city                           Abu Dhabi
date                          2014-04-16
team1              Kolkata Knight Riders
team2                     Mumbai Indians
toss_winner        Kolkata Knight Riders
toss_decision                        bat
result                            normal
dl_applied                             0
winner             Kolkata Knight Riders
win_by_runs                           41
win_by_wickets                         0
player_of_match                JH Kallis
venue               Sheikh Zayed Stadium
umpire1                        M Erasmus
umpire2                   RK Illingworth
umpire3                              NaN
Name: 457, dtype: object

In [35]:
print ( match.iloc [457,:] )

id                                   458
season                              2014
city                           Abu Dhabi
date                          2014-04-16
team1              Kolkata Knight Riders
team2                     Mumbai Indians
toss_winner        Kolkata Knight Riders
toss_decision                        bat
result                            normal
dl_applied                             0
winner             Kolkata Knight Riders
win_by_runs                           41
win_by_wickets                         0
player_of_match                JH Kallis
venue               Sheikh Zayed Stadium
umpire1                        M Erasmus
umpire2                   RK Illingworth
umpire3                              NaN
Name: 457, dtype: object

In [36]:
print ( place.get_group("Kolkata") )

      id  season     city        date                    team1  \
10    11    2017  Kolkata  2017-04-13          Kings XI Punjab
13    14    2017  Kolkata  2017-04-15    Kolkata Knight Riders
22    23    2017  Kolkata  2017-04-21    Kolkata Knight Riders
26    27    2017  Kolkata  2017-04-23    Kolkata Knight Riders
30    31    2017  Kolkata  2017-04-28         Delhi Daredevils
..   ...     ...      ...         ...                      ...
607  608    2016  Kolkata  2016-05-04    Kolkata Knight Riders
613  614    2016  Kolkata  2016-05-08    Kolkata Knight Riders
620  621    2016  Kolkata  2016-05-14  Rising Pune Supergiants
623  624    2016  Kolkata  2016-05-16    Kolkata Knight Riders
630  631    2016  Kolkata  2016-05-22    Kolkata Knight Riders

                           team2                  toss_winner toss_decision  \
10         Kolkata Knight Riders        Kolkata Knight Riders         field
13           Sunrisers Hyderabad          Sunrisers Hyderabad         field
22                 Gujarat Lions                Gujarat Lions         field
26   Royal Challengers Bangalore  Royal Challengers Bangalore         field
30         Kolkata Knight Riders        Kolkata Knight Riders         field
..                           ...                          ...           ...
607              Kings XI Punjab              Kings XI Punjab         field
613                Gujarat Lions                Gujarat Lions         field
620        Kolkata Knight Riders      Rising Pune Supergiants           bat
623  Royal Challengers Bangalore  Royal Challengers Bangalore         field
630          Sunrisers Hyderabad          Sunrisers Hyderabad         field

     result  dl_applied                       winner  win_by_runs  \
10   normal           0        Kolkata Knight Riders            0
13   normal           0        Kolkata Knight Riders           17
22   normal           0                Gujarat Lions            0
26   normal           0        Kolkata Knight Riders           82
30   normal           0        Kolkata Knight Riders            0
..      ...         ...                          ...          ...
607  normal           0        Kolkata Knight Riders            7
613  normal           0                Gujarat Lions            0
620  normal           1        Kolkata Knight Riders            0
623  normal           0  Royal Challengers Bangalore            0
630  normal           0        Kolkata Knight Riders           22

     win_by_wickets  player_of_match         venue                umpire1  \
10                8        SP Narine  Eden Gardens             A Deshmukh
13                0       RV Uthappa  Eden Gardens            AY Dandekar
22                4         SK Raina  Eden Gardens            CB Gaffaney
26                0  NM Coulter-Nile  Eden Gardens            CB Gaffaney
30                7        G Gambhir  Eden Gardens               NJ Llong
..              ...              ...           ...                    ...
607               0       AD Russell  Eden Gardens           AK Chaudhary
613               5          P Kumar  Eden Gardens              M Erasmus
620               8        YK Pathan  Eden Gardens         A Nand Kishore
623               9          V Kohli  Eden Gardens            CB Gaffaney
630               0        YK Pathan  Eden Gardens  KN Ananthapadmanabhan

             umpire2  umpire3
10          NJ Llong      NaN
13          NJ Llong      NaN
22       Nitin Menon      NaN
26         CK Nandan      NaN
30            S Ravi      NaN
..               ...      ...
607  HDPK Dharmasena      NaN
613        RJ Tucker      NaN
620     BNJ Oxenford      NaN
623   A Nand Kishore      NaN
630        M Erasmus      NaN

[61 rows x 18 columns]

In [37]:
print ( place.get_group("Rajkot") )

      id  season    city        date                        team1  \
2      3    2017  Rajkot  2017-04-07                Gujarat Lions
12    13    2017  Rajkot  2017-04-14       Rising Pune Supergiant
19    20    2017  Rajkot  2017-04-18  Royal Challengers Bangalore
25    26    2017  Rajkot  2017-04-23              Kings XI Punjab
33    34    2017  Rajkot  2017-04-29                Gujarat Lions
581  582    2016  Rajkot  2016-04-14      Rising Pune Supergiants
590  591    2016  Rajkot  2016-04-21                Gujarat Lions
594  595    2016  Rajkot  2016-04-24  Royal Challengers Bangalore
603  604    2016  Rajkot  2016-05-01              Kings XI Punjab
606  607    2016  Rajkot  2016-05-03                Gujarat Lions

                     team2                  toss_winner toss_decision  result  \
2    Kolkata Knight Riders        Kolkata Knight Riders         field  normal
12           Gujarat Lions                Gujarat Lions         field  normal
19           Gujarat Lions                Gujarat Lions         field  normal
25           Gujarat Lions                Gujarat Lions         field  normal
33          Mumbai Indians                Gujarat Lions           bat     tie
581          Gujarat Lions      Rising Pune Supergiants           bat  normal
590    Sunrisers Hyderabad          Sunrisers Hyderabad         field  normal
594          Gujarat Lions  Royal Challengers Bangalore           bat  normal
603          Gujarat Lions                Gujarat Lions         field  normal
606       Delhi Daredevils             Delhi Daredevils         field  normal

     dl_applied                       winner  win_by_runs  win_by_wickets  \
2             0        Kolkata Knight Riders            0              10
12            0                Gujarat Lions            0               7
19            0  Royal Challengers Bangalore           21               0
25            0              Kings XI Punjab           26               0
33            0               Mumbai Indians            0               0
581           0                Gujarat Lions            0               7
590           0          Sunrisers Hyderabad            0              10
594           0                Gujarat Lions            0               6
603           0              Kings XI Punjab           23               0
606           0             Delhi Daredevils            0               8

    player_of_match                                   venue         umpire1  \
2           CA Lynn  Saurashtra Cricket Association Stadium     Nitin Menon
12           AJ Tye  Saurashtra Cricket Association Stadium  A Nand Kishore
19         CH Gayle  Saurashtra Cricket Association Stadium          S Ravi
25          HM Amla  Saurashtra Cricket Association Stadium    AK Chaudhary
33        KH Pandya  Saurashtra Cricket Association Stadium    AK Chaudhary
581        AJ Finch  Saurashtra Cricket Association Stadium     VA Kulkarni
590         B Kumar  Saurashtra Cricket Association Stadium      K Bharatan
594         V Kohli  Saurashtra Cricket Association Stadium      K Bharatan
603        AR Patel  Saurashtra Cricket Association Stadium    BNJ Oxenford
606         RR Pant  Saurashtra Cricket Association Stadium     CB Gaffaney

             umpire2  umpire3
2          CK Nandan      NaN
12            S Ravi      NaN
19         VK Sharma      NaN
25         M Erasmus      NaN
33       CB Gaffaney      NaN
581        CK Nandan      NaN
590  HDPK Dharmasena      NaN
594     BNJ Oxenford      NaN
603        VK Sharma      NaN
606     BNJ Oxenford      NaN

In [38]:
print ( place .get_group("Rajkot") .shape )

(10, 18)

In [39]:
print ( place.sum() )

                   id  season  dl_applied  win_by_runs  win_by_wickets  \
city
Abu Dhabi        3263   14098           0          157              16
Ahmedabad        4863   24156           0          180              38
Bangalore       22299  132861           3         1263             232
Bloemfontein      326    4018           0           14               6
Cape Town         858   14063           1          145              18
Centurion        1842   24108           1           81              49
Chandigarh      15325   92582           0          576             167
Chennai         15096   96554           0          715             111
Cuttack          2534   14086           0           73              20
Delhi           19600  120771           2          876             192
Dharamsala       2949   18103           0          279              23
Durban           2147   30135           1          159              33
East London       432    6027           0           87               7
Hyderabad       15907   98649           2          486             184
Indore            618   10073           0            0              36
Jaipur           9210   66363           0          460             151
Johannesburg     1279   16072           0           25              35
Kanpur           1358    8066           0            0              22
Kimberley         458    6027           0           53              10
Kochi            1301   10055           1          110              13
Kolkata         19973  122783           3          587             224
Mumbai          26283  171049           0         1102             264
Nagpur            646    6030           0           15               6
Port Elizabeth    980   14063           0          200              22
Pune            11238   64455           0          545              98
Raipur           3229   12088           0           21              25
Rajkot           3075   20165           0           70              48
Ranchi           3439   14097           0           41              24
Sharjah          2804   12084           0           74              26
Visakhapatnam    5951   22165           2          282              22

                umpire3
city
Abu Dhabi           0.0
Ahmedabad           0.0
Bangalore           0.0
Bloemfontein        0.0
Cape Town           0.0
Centurion           0.0
Chandigarh          0.0
Chennai             0.0
Cuttack             0.0
Delhi               0.0
Dharamsala          0.0
Durban              0.0
East London         0.0
Hyderabad           0.0
Indore              0.0
Jaipur              0.0
Johannesburg        0.0
Kanpur              0.0
Kimberley           0.0
Kochi               0.0
Kolkata             0.0
Mumbai              0.0
Nagpur              0.0
Port Elizabeth      0.0
Pune                0.0
Raipur              0.0
Rajkot              0.0
Ranchi              0.0
Sharjah             0.0
Visakhapatnam       0.0

C:\Users\ARPIT-MIMANI\AppData\Local\Temp\ipykernel_8416\3861978354.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print ( place.sum() )

In [40]:
print ( place.mean() )

                        id       season  dl_applied  win_by_runs  \
city
Abu Dhabi       466.142857  2014.000000    0.000000    22.428571
Ahmedabad       405.250000  2013.000000    0.000000    15.000000
Bangalore       337.863636  2013.045455    0.045455    19.136364
Bloemfontein    163.000000  2009.000000    0.000000     7.000000
Cape Town       122.571429  2009.000000    0.142857    20.714286
Centurion       153.500000  2009.000000    0.083333     6.750000
Chandigarh      333.152174  2012.652174    0.000000    12.521739
Chennai         314.500000  2011.541667    0.000000    14.895833
Cuttack         362.000000  2012.285714    0.000000    10.428571
Delhi           326.666667  2012.850000    0.033333    14.600000
Dharamsala      327.666667  2011.444444    0.000000    31.000000
Durban          143.133333  2009.000000    0.066667    10.600000
East London     144.000000  2009.000000    0.000000    29.000000
Hyderabad       324.632653  2013.244898    0.040816     9.918367
Indore          123.600000  2014.600000    0.000000     0.000000
Jaipur          279.090909  2011.000000    0.000000    13.939394
Johannesburg    159.875000  2009.000000    0.000000     3.125000
Kanpur          339.500000  2016.500000    0.000000     0.000000
Kimberley       152.666667  2009.000000    0.000000    17.666667
Kochi           260.200000  2011.000000    0.200000    22.000000
Kolkata         327.426230  2012.836066    0.049180     9.622951
Mumbai          309.211765  2012.341176    0.000000    12.964706
Nagpur          215.333333  2010.000000    0.000000     5.000000
Port Elizabeth  140.000000  2009.000000    0.000000    28.571429
Pune            351.187500  2014.218750    0.000000    17.031250
Raipur          538.166667  2014.666667    0.000000     3.500000
Rajkot          307.500000  2016.500000    0.000000     7.000000
Ranchi          491.285714  2013.857143    0.000000     5.857143
Sharjah         467.333333  2014.000000    0.000000    12.333333
Visakhapatnam   541.000000  2015.000000    0.181818    25.636364

                win_by_wickets  umpire3
city
Abu Dhabi             2.285714      NaN
Ahmedabad             3.166667      NaN
Bangalore             3.515152      NaN
Bloemfontein          3.000000      NaN
Cape Town             2.571429      NaN
Centurion             4.083333      NaN
Chandigarh            3.630435      NaN
Chennai               2.312500      NaN
Cuttack               2.857143      NaN
Delhi                 3.200000      NaN
Dharamsala            2.555556      NaN
Durban                2.200000      NaN
East London           2.333333      NaN
Hyderabad             3.755102      NaN
Indore                7.200000      NaN
Jaipur                4.575758      NaN
Johannesburg          4.375000      NaN
Kanpur                5.500000      NaN
Kimberley             3.333333      NaN
Kochi                 2.600000      NaN
Kolkata               3.672131      NaN
Mumbai                3.105882      NaN
Nagpur                2.000000      NaN
Port Elizabeth        3.142857      NaN
Pune                  3.062500      NaN
Raipur                4.166667      NaN
Rajkot                4.800000      NaN
Ranchi                3.428571      NaN
Sharjah               4.333333      NaN
Visakhapatnam         2.000000      NaN

C:\Users\ARPIT-MIMANI\AppData\Local\Temp\ipykernel_8416\3935454393.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print ( place.mean() )

In [41]:
print ( place.count() )

                id  season  date  team1  team2  toss_winner  toss_decision  \
city
Abu Dhabi        7       7     7      7      7            7              7
Ahmedabad       12      12    12     12     12           12             12
Bangalore       66      66    66     66     66           66             66
Bloemfontein     2       2     2      2      2            2              2
Cape Town        7       7     7      7      7            7              7
Centurion       12      12    12     12     12           12             12
Chandigarh      46      46    46     46     46           46             46
Chennai         48      48    48     48     48           48             48
Cuttack          7       7     7      7      7            7              7
Delhi           60      60    60     60     60           60             60
Dharamsala       9       9     9      9      9            9              9
Durban          15      15    15     15     15           15             15
East London      3       3     3      3      3            3              3
Hyderabad       49      49    49     49     49           49             49
Indore           5       5     5      5      5            5              5
Jaipur          33      33    33     33     33           33             33
Johannesburg     8       8     8      8      8            8              8
Kanpur           4       4     4      4      4            4              4
Kimberley        3       3     3      3      3            3              3
Kochi            5       5     5      5      5            5              5
Kolkata         61      61    61     61     61           61             61
Mumbai          85      85    85     85     85           85             85
Nagpur           3       3     3      3      3            3              3
Port Elizabeth   7       7     7      7      7            7              7
Pune            32      32    32     32     32           32             32
Raipur           6       6     6      6      6            6              6
Rajkot          10      10    10     10     10           10             10
Ranchi           7       7     7      7      7            7              7
Sharjah          6       6     6      6      6            6              6
Visakhapatnam   11      11    11     11     11           11             11

                result  dl_applied  winner  win_by_runs  win_by_wickets  \
city
Abu Dhabi            7           7       7            7               7
Ahmedabad           12          12      12           12              12
Bangalore           66          66      64           66              66
Bloemfontein         2           2       2            2               2
Cape Town            7           7       7            7               7
Centurion           12          12      12           12              12
Chandigarh          46          46      46           46              46
Chennai             48          48      48           48              48
Cuttack              7           7       7            7               7
Delhi               60          60      59           60              60
Dharamsala           9           9       9            9               9
Durban              15          15      15           15              15
East London          3           3       3            3               3
Hyderabad           49          49      49           49              49
Indore               5           5       5            5               5
Jaipur              33          33      33           33              33
Johannesburg         8           8       8            8               8
Kanpur               4           4       4            4               4
Kimberley            3           3       3            3               3
Kochi                5           5       5            5               5
Kolkata             61          61      61           61              61
Mumbai              85          85      85           85              85
Nagpur               3           3       3            3               3
Port Elizabeth       7           7       7            7               7
Pune                32          32      32           32              32
Raipur               6           6       6            6               6
Rajkot              10          10      10           10              10
Ranchi               7           7       7            7               7
Sharjah              6           6       6            6               6
Visakhapatnam       11          11      11           11              11

                player_of_match  venue  umpire1  umpire2  umpire3
city
Abu Dhabi                     7      7        7        7        0
Ahmedabad                    12     12       12       12        0
Bangalore                    64     66       65       65        0
Bloemfontein                  2      2        2        2        0
Cape Town                     7      7        7        7        0
Centurion                    12     12       12       12        0
Chandigarh                   46     46       46       46        0
Chennai                      48     48       48       48        0
Cuttack                       7      7        7        7        0
Delhi                        59     60       60       60        0
Dharamsala                    9      9        9        9        0
Durban                       15     15       15       15        0
East London                   3      3        3        3        0
Hyderabad                    49     49       49       49        0
Indore                        5      5        5        5        0
Jaipur                       33     33       33       33        0
Johannesburg                  8      8        8        8        0
Kanpur                        4      4        4        4        0
Kimberley                     3      3        3        3        0
Kochi                         5      5        5        5        0
Kolkata                      61     61       61       61        0
Mumbai                       85     85       85       85        0
Nagpur                        3      3        3        3        0
Port Elizabeth                7      7        7        7        0
Pune                         32     32       32       32        0
Raipur                        6      6        6        6        0
Rajkot                       10     10       10       10        0
Ranchi                        7      7        7        7        0
Sharjah                       6      6        6        6        0
Visakhapatnam                11     11       11       11        0

In [42]:
print ( place["win_by_runs"].mean() )

city
Abu Dhabi         22.428571
Ahmedabad         15.000000
Bangalore         19.136364
Bloemfontein       7.000000
Cape Town         20.714286
Centurion          6.750000
Chandigarh        12.521739
Chennai           14.895833
Cuttack           10.428571
Delhi             14.600000
Dharamsala        31.000000
Durban            10.600000
East London       29.000000
Hyderabad          9.918367
Indore             0.000000
Jaipur            13.939394
Johannesburg       3.125000
Kanpur             0.000000
Kimberley         17.666667
Kochi             22.000000
Kolkata            9.622951
Mumbai            12.964706
Nagpur             5.000000
Port Elizabeth    28.571429
Pune              17.031250
Raipur             3.500000
Rajkot             7.000000
Ranchi             5.857143
Sharjah           12.333333
Visakhapatnam     25.636364
Name: win_by_runs, dtype: float64

In [43]:
print ( place["win_by_runs"]. mean(). sort_values(ascending=False) )

city
Dharamsala        31.000000
East London       29.000000
Port Elizabeth    28.571429
Visakhapatnam     25.636364
Abu Dhabi         22.428571
Kochi             22.000000
Cape Town         20.714286
Bangalore         19.136364
Kimberley         17.666667
Pune              17.031250
Ahmedabad         15.000000
Chennai           14.895833
Delhi             14.600000
Jaipur            13.939394
Mumbai            12.964706
Chandigarh        12.521739
Sharjah           12.333333
Durban            10.600000
Cuttack           10.428571
Hyderabad          9.918367
Kolkata            9.622951
Bloemfontein       7.000000
Rajkot             7.000000
Centurion          6.750000
Ranchi             5.857143
Nagpur             5.000000
Raipur             3.500000
Johannesburg       3.125000
Indore             0.000000
Kanpur             0.000000
Name: win_by_runs, dtype: float64