In [1]:
import pandas as pd
df = pd.read_csv("DELIVERIES_DATA.csv")
print(df)

        match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
0       Royal Challengers Bangalore     1     1      DA Warner       S Dhawan
1       Royal Challengers Bangalore     1     2      DA Warner       S Dhawan
2       Royal Challengers Bangalore     1     3      DA Warner       S Dhawan
3       Royal Challengers Bangalore     1     4      DA Warner       S Dhawan
4       Royal Challengers Bangalore     1     5      DA Warner       S Dhawan
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

          bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
0       TS Mills              0  ...         0            0            0
1       TS Mills              0  ...         0            0            0
2       TS Mills              0  ...         0            0            0
3       TS Mills              0  ...         0            0            0
4       TS Mills              0  ...         0            0            0
...          ...            ...  ...       ...          ...          ...
150455   B Kumar              0  ...         0            0            0
150456   B Kumar              0  ...         0            0            0
150457   B Kumar              0  ...         0            1            0
150458   B Kumar              0  ...         0            0            0
150459   B Kumar              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
0                  0             0           0           0               NaN
1                  0             0           0           0               NaN
2                  0             4           0           4               NaN
3                  0             0           0           0               NaN
4                  0             0           2           2               NaN
...              ...           ...         ...         ...               ...
150455             0             2           0           2               NaN
150456             0             0           0           0         CJ Jordan
150457             0             0           1           1               NaN
150458             0             1           0           1               NaN
150459             0             4           0           4               NaN

       dismissal_kind  fielder
0                 NaN      NaN
1                 NaN      NaN
2                 NaN      NaN
3                 NaN      NaN
4                 NaN      NaN
...               ...      ...
150455            NaN      NaN
150456        run out  NV Ojha
150457            NaN      NaN
150458            NaN      NaN
150459            NaN      NaN

[150460 rows x 21 columns]

In [2]:
print ( df.groupby("batsman") ["batsman_runs"] .count() )

batsman
A Ashish Reddy     196
A Chandila           7
A Chopra            75
A Choudhary         20
A Flintoff          57
                  ...
YV Takawale        183
Yashpal Singh       67
Younis Khan          7
Yuvraj Singh      2050
Z Khan             141
Name: batsman_runs, Length: 461, dtype: int64

In [3]:
print ( df["over"]>15 )

0         False
1         False
2         False
3         False
4         False
          ...
150455     True
150456     True
150457     True
150458     True
150459     True
Name: over, Length: 150460, dtype: bool

In [4]:
print ( df [ df["over"]>15 ] )

        match_id  inning                 batting_team  \
93             1       1          Sunrisers Hyderabad
94             1       1          Sunrisers Hyderabad
95             1       1          Sunrisers Hyderabad
96             1       1          Sunrisers Hyderabad
97             1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
93      Royal Challengers Bangalore    16     1   MC Henriques   Yuvraj Singh
94      Royal Challengers Bangalore    16     2   MC Henriques   Yuvraj Singh
95      Royal Challengers Bangalore    16     3   Yuvraj Singh       DJ Hooda
96      Royal Challengers Bangalore    16     4       DJ Hooda   Yuvraj Singh
97      Royal Challengers Bangalore    16     5   Yuvraj Singh       DJ Hooda
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

           bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
93      YS Chahal              0  ...         0            0            0
94      YS Chahal              0  ...         0            0            0
95      YS Chahal              0  ...         0            0            0
96      YS Chahal              0  ...         0            0            0
97      YS Chahal              0  ...         0            0            0
...           ...            ...  ...       ...          ...          ...
150455    B Kumar              0  ...         0            0            0
150456    B Kumar              0  ...         0            0            0
150457    B Kumar              0  ...         0            1            0
150458    B Kumar              0  ...         0            0            0
150459    B Kumar              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
93                 0             0           0           0               NaN
94                 0             0           0           0      MC Henriques
95                 0             1           0           1               NaN
96                 0             1           0           1               NaN
97                 0             1           0           1               NaN
...              ...           ...         ...         ...               ...
150455             0             2           0           2               NaN
150456             0             0           0           0         CJ Jordan
150457             0             0           1           1               NaN
150458             0             1           0           1               NaN
150459             0             4           0           4               NaN

       dismissal_kind      fielder
93                NaN          NaN
94             caught  Sachin Baby
95                NaN          NaN
96                NaN          NaN
97                NaN          NaN
...               ...          ...
150455            NaN          NaN
150456        run out      NV Ojha
150457            NaN          NaN
150458            NaN          NaN
150459            NaN          NaN

[33737 rows x 21 columns]

In [5]:
death_over = df [ df["over"]>15 ]
print(death_over)

        match_id  inning                 batting_team  \
93             1       1          Sunrisers Hyderabad
94             1       1          Sunrisers Hyderabad
95             1       1          Sunrisers Hyderabad
96             1       1          Sunrisers Hyderabad
97             1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
93      Royal Challengers Bangalore    16     1   MC Henriques   Yuvraj Singh
94      Royal Challengers Bangalore    16     2   MC Henriques   Yuvraj Singh
95      Royal Challengers Bangalore    16     3   Yuvraj Singh       DJ Hooda
96      Royal Challengers Bangalore    16     4       DJ Hooda   Yuvraj Singh
97      Royal Challengers Bangalore    16     5   Yuvraj Singh       DJ Hooda
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

           bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
93      YS Chahal              0  ...         0            0            0
94      YS Chahal              0  ...         0            0            0
95      YS Chahal              0  ...         0            0            0
96      YS Chahal              0  ...         0            0            0
97      YS Chahal              0  ...         0            0            0
...           ...            ...  ...       ...          ...          ...
150455    B Kumar              0  ...         0            0            0
150456    B Kumar              0  ...         0            0            0
150457    B Kumar              0  ...         0            1            0
150458    B Kumar              0  ...         0            0            0
150459    B Kumar              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
93                 0             0           0           0               NaN
94                 0             0           0           0      MC Henriques
95                 0             1           0           1               NaN
96                 0             1           0           1               NaN
97                 0             1           0           1               NaN
...              ...           ...         ...         ...               ...
150455             0             2           0           2               NaN
150456             0             0           0           0         CJ Jordan
150457             0             0           1           1               NaN
150458             0             1           0           1               NaN
150459             0             4           0           4               NaN

       dismissal_kind      fielder
93                NaN          NaN
94             caught  Sachin Baby
95                NaN          NaN
96                NaN          NaN
97                NaN          NaN
...               ...          ...
150455            NaN          NaN
150456        run out      NV Ojha
150457            NaN          NaN
150458            NaN          NaN
150459            NaN          NaN

[33737 rows x 21 columns]

In [6]:
print ( death_over.groupby("batsman") ["batsman_runs"] .count() )

batsman
A Ashish Reddy    148
A Chandila          7
A Chopra            2
A Choudhary        20
A Flintoff         18
                 ...
YS Chahal          27
YV Takawale        13
Yashpal Singh      13
Yuvraj Singh      516
Z Khan            109
Name: batsman_runs, Length: 416, dtype: int64

In [7]:
print ( death_over.groupby("batsman") ["batsman_runs"] .count() > 200 )

batsman
A Ashish Reddy    False
A Chandila        False
A Chopra          False
A Choudhary       False
A Flintoff        False
                  ...
YS Chahal         False
YV Takawale       False
Yashpal Singh     False
Yuvraj Singh       True
Z Khan            False
Name: batsman_runs, Length: 416, dtype: bool

In [8]:
all_batsman =  death_over.groupby("batsman") ["batsman_runs"] .count() 
print(all_batsman)

batsman
A Ashish Reddy    148
A Chandila          7
A Chopra            2
A Choudhary        20
A Flintoff         18
                 ...
YS Chahal          27
YV Takawale        13
Yashpal Singh      13
Yuvraj Singh      516
Z Khan            109
Name: batsman_runs, Length: 416, dtype: int64

In [9]:
print ( all_batsman > 200 )

batsman
A Ashish Reddy    False
A Chandila        False
A Chopra          False
A Choudhary       False
A Flintoff        False
                  ...
YS Chahal         False
YV Takawale       False
Yashpal Singh     False
Yuvraj Singh       True
Z Khan            False
Name: batsman_runs, Length: 416, dtype: bool

In [10]:
print ( all_batsman [ all_batsman > 200 ] )

batsman
A Mishra             225
AB de Villiers       570
AD Mathews           289
AM Rahane            268
AR Patel             229
AT Rayudu            425
BJ Hodge             385
DA Miller            360
DA Warner            228
DJ Bravo             409
DJ Hussey            234
DPMD Jayawardene     246
Harbhajan Singh      418
IK Pathan            465
JA Morkel            425
JH Kallis            231
JP Duminy            518
JP Faulkner          294
KA Pollard           838
KD Karthik           463
KM Jadhav            338
LRPL Taylor          204
MK Pandey            224
MK Tiwary            423
MS Dhoni            1224
NV Ojha              304
P Kumar              268
PP Chawla            311
R Vinay Kumar        235
RA Jadeja            576
RG Sharma            748
RV Uthappa           275
S Badrinath          283
S Dhawan             243
SK Raina             458
SPD Smith            316
SS Tiwary            300
STR Binny            218
V Kohli              546
WP Saha              295
Y Venugopal Rao      260
YK Pathan            584
Yuvraj Singh         516
Name: batsman_runs, dtype: int64

In [11]:
print ( all_batsman [ all_batsman > 200 ] .shape )

(43,)

In [12]:
print ( all_batsman [ all_batsman > 200 ] .index )

Index(['A Mishra', 'AB de Villiers', 'AD Mathews', 'AM Rahane', 'AR Patel',
       'AT Rayudu', 'BJ Hodge', 'DA Miller', 'DA Warner', 'DJ Bravo',
       'DJ Hussey', 'DPMD Jayawardene', 'Harbhajan Singh', 'IK Pathan',
       'JA Morkel', 'JH Kallis', 'JP Duminy', 'JP Faulkner', 'KA Pollard',
       'KD Karthik', 'KM Jadhav', 'LRPL Taylor', 'MK Pandey', 'MK Tiwary',
       'MS Dhoni', 'NV Ojha', 'P Kumar', 'PP Chawla', 'R Vinay Kumar',
       'RA Jadeja', 'RG Sharma', 'RV Uthappa', 'S Badrinath', 'S Dhawan',
       'SK Raina', 'SPD Smith', 'SS Tiwary', 'STR Binny', 'V Kohli', 'WP Saha',
       'Y Venugopal Rao', 'YK Pathan', 'Yuvraj Singh'],
      dtype='object', name='batsman')

In [13]:
print ( all_batsman [ all_batsman > 200 ] .values )

[ 225  570  289  268  229  425  385  360  228  409  234  246  418  465
  425  231  518  294  838  463  338  204  224  423 1224  304  268  311
  235  576  748  275  283  243  458  316  300  218  546  295  260  584
  516]

In [14]:
batsman_list = all_batsman [ all_batsman > 200 ] .index .tolist()
print(batsman_list)

['A Mishra', 'AB de Villiers', 'AD Mathews', 'AM Rahane', 'AR Patel', 'AT Rayudu', 'BJ Hodge', 'DA Miller', 'DA Warner', 'DJ Bravo', 'DJ Hussey', 'DPMD Jayawardene', 'Harbhajan Singh', 'IK Pathan', 'JA Morkel', 'JH Kallis', 'JP Duminy', 'JP Faulkner', 'KA Pollard', 'KD Karthik', 'KM Jadhav', 'LRPL Taylor', 'MK Pandey', 'MK Tiwary', 'MS Dhoni', 'NV Ojha', 'P Kumar', 'PP Chawla', 'R Vinay Kumar', 'RA Jadeja', 'RG Sharma', 'RV Uthappa', 'S Badrinath', 'S Dhawan', 'SK Raina', 'SPD Smith', 'SS Tiwary', 'STR Binny', 'V Kohli', 'WP Saha', 'Y Venugopal Rao', 'YK Pathan', 'Yuvraj Singh']

In [15]:
print ( df["batsman"] )

0             DA Warner
1             DA Warner
2             DA Warner
3             DA Warner
4             DA Warner
              ...
150455      Sachin Baby
150456      Sachin Baby
150457    Iqbal Abdulla
150458      Sachin Baby
150459    Iqbal Abdulla
Name: batsman, Length: 150460, dtype: object

In [16]:
print ( df["batsman"]. isin(batsman_list) )

0          True
1          True
2          True
3          True
4          True
          ...
150455    False
150456    False
150457    False
150458    False
150459    False
Name: batsman, Length: 150460, dtype: bool

In [17]:
print ( df [ df["batsman"]. isin(batsman_list) ] )

        match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150442       636       2  Royal Challengers Bangalore
150443       636       2  Royal Challengers Bangalore
150445       636       2  Royal Challengers Bangalore
150446       636       2  Royal Challengers Bangalore
150448       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball    batsman  non_striker  \
0       Royal Challengers Bangalore     1     1  DA Warner     S Dhawan
1       Royal Challengers Bangalore     1     2  DA Warner     S Dhawan
2       Royal Challengers Bangalore     1     3  DA Warner     S Dhawan
3       Royal Challengers Bangalore     1     4  DA Warner     S Dhawan
4       Royal Challengers Bangalore     1     5  DA Warner     S Dhawan
...                             ...   ...   ...        ...          ...
150442          Sunrisers Hyderabad    18     1  STR Binny  Sachin Baby
150443          Sunrisers Hyderabad    18     2  STR Binny  Sachin Baby
150445          Sunrisers Hyderabad    18     4  STR Binny  Sachin Baby
150446          Sunrisers Hyderabad    18     5  STR Binny  Sachin Baby
150448          Sunrisers Hyderabad    19     1  STR Binny  Sachin Baby

                   bowler  is_super_over  ...  bye_runs  legbye_runs  \
0                TS Mills              0  ...         0            0
1                TS Mills              0  ...         0            0
2                TS Mills              0  ...         0            0
3                TS Mills              0  ...         0            0
4                TS Mills              0  ...         0            0
...                   ...            ...  ...       ...          ...
150442            B Kumar              0  ...         0            0
150443            B Kumar              0  ...         0            0
150445            B Kumar              0  ...         0            0
150446            B Kumar              0  ...         0            1
150448  Mustafizur Rahman              0  ...         0            0

        noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  \
0                 0             0             0           0           0
1                 0             0             0           0           0
2                 0             0             4           0           4
3                 0             0             0           0           0
4                 0             0             0           2           2
...             ...           ...           ...         ...         ...
150442            0             0             0           0           0
150443            0             0             1           0           1
150445            0             0             0           0           0
150446            0             0             0           1           1
150448            0             0             1           0           1

        player_dismissed dismissal_kind   fielder
0                    NaN            NaN       NaN
1                    NaN            NaN       NaN
2                    NaN            NaN       NaN
3                    NaN            NaN       NaN
4                    NaN            NaN       NaN
...                  ...            ...       ...
150442               NaN            NaN       NaN
150443               NaN            NaN       NaN
150445               NaN            NaN       NaN
150446               NaN            NaN       NaN
150448         STR Binny        run out  DJ Hooda

[66006 rows x 21 columns]

In [18]:
print ( df [ df["batsman"]. isin(batsman_list) ] .shape )

(66006, 21)

In [19]:
final = df [ df["batsman"]. isin(batsman_list) ] 
print(final)

        match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150442       636       2  Royal Challengers Bangalore
150443       636       2  Royal Challengers Bangalore
150445       636       2  Royal Challengers Bangalore
150446       636       2  Royal Challengers Bangalore
150448       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball    batsman  non_striker  \
0       Royal Challengers Bangalore     1     1  DA Warner     S Dhawan
1       Royal Challengers Bangalore     1     2  DA Warner     S Dhawan
2       Royal Challengers Bangalore     1     3  DA Warner     S Dhawan
3       Royal Challengers Bangalore     1     4  DA Warner     S Dhawan
4       Royal Challengers Bangalore     1     5  DA Warner     S Dhawan
...                             ...   ...   ...        ...          ...
150442          Sunrisers Hyderabad    18     1  STR Binny  Sachin Baby
150443          Sunrisers Hyderabad    18     2  STR Binny  Sachin Baby
150445          Sunrisers Hyderabad    18     4  STR Binny  Sachin Baby
150446          Sunrisers Hyderabad    18     5  STR Binny  Sachin Baby
150448          Sunrisers Hyderabad    19     1  STR Binny  Sachin Baby

                   bowler  is_super_over  ...  bye_runs  legbye_runs  \
0                TS Mills              0  ...         0            0
1                TS Mills              0  ...         0            0
2                TS Mills              0  ...         0            0
3                TS Mills              0  ...         0            0
4                TS Mills              0  ...         0            0
...                   ...            ...  ...       ...          ...
150442            B Kumar              0  ...         0            0
150443            B Kumar              0  ...         0            0
150445            B Kumar              0  ...         0            0
150446            B Kumar              0  ...         0            1
150448  Mustafizur Rahman              0  ...         0            0

        noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  \
0                 0             0             0           0           0
1                 0             0             0           0           0
2                 0             0             4           0           4
3                 0             0             0           0           0
4                 0             0             0           2           2
...             ...           ...           ...         ...         ...
150442            0             0             0           0           0
150443            0             0             1           0           1
150445            0             0             0           0           0
150446            0             0             0           1           1
150448            0             0             1           0           1

        player_dismissed dismissal_kind   fielder
0                    NaN            NaN       NaN
1                    NaN            NaN       NaN
2                    NaN            NaN       NaN
3                    NaN            NaN       NaN
4                    NaN            NaN       NaN
...                  ...            ...       ...
150442               NaN            NaN       NaN
150443               NaN            NaN       NaN
150445               NaN            NaN       NaN
150446               NaN            NaN       NaN
150448         STR Binny        run out  DJ Hooda

[66006 rows x 21 columns]

In [20]:
print ( final.groupby("batsman") ["batsman_runs"] . sum() )

batsman
A Mishra             340
AB de Villiers      3486
AD Mathews           724
AM Rahane           3057
AR Patel             606
AT Rayudu           2416
BJ Hodge            1400
DA Miller           1563
DA Warner           4014
DJ Bravo            1262
DJ Hussey           1322
DPMD Jayawardene    1808
Harbhajan Singh      799
IK Pathan           1150
JA Morkel            975
JH Kallis           2427
JP Duminy           1993
JP Faulkner          527
KA Pollard          2354
KD Karthik          2903
KM Jadhav            893
LRPL Taylor         1017
MK Pandey           2223
MK Tiwary           1648
MS Dhoni            3560
NV Ojha             1553
P Kumar              340
PP Chawla            515
R Vinay Kumar        304
RA Jadeja           1732
RG Sharma           4207
RV Uthappa          3778
S Badrinath         1441
S Dhawan            3561
SK Raina            4548
SPD Smith           1713
SS Tiwary           1276
STR Binny            766
V Kohli             4423
WP Saha             1557
Y Venugopal Rao      985
YK Pathan           2922
Yuvraj Singh        2591
Name: batsman_runs, dtype: int64

In [21]:
runs = final.groupby("batsman") ["batsman_runs"] . sum() 
print(runs)

batsman
A Mishra             340
AB de Villiers      3486
AD Mathews           724
AM Rahane           3057
AR Patel             606
AT Rayudu           2416
BJ Hodge            1400
DA Miller           1563
DA Warner           4014
DJ Bravo            1262
DJ Hussey           1322
DPMD Jayawardene    1808
Harbhajan Singh      799
IK Pathan           1150
JA Morkel            975
JH Kallis           2427
JP Duminy           1993
JP Faulkner          527
KA Pollard          2354
KD Karthik          2903
KM Jadhav            893
LRPL Taylor         1017
MK Pandey           2223
MK Tiwary           1648
MS Dhoni            3560
NV Ojha             1553
P Kumar              340
PP Chawla            515
R Vinay Kumar        304
RA Jadeja           1732
RG Sharma           4207
RV Uthappa          3778
S Badrinath         1441
S Dhawan            3561
SK Raina            4548
SPD Smith           1713
SS Tiwary           1276
STR Binny            766
V Kohli             4423
WP Saha             1557
Y Venugopal Rao      985
YK Pathan           2922
Yuvraj Singh        2591
Name: batsman_runs, dtype: int64

In [22]:
balls = final.groupby("batsman") ["batsman_runs"] . count() 
print(balls)

batsman
A Mishra             382
AB de Villiers      2402
AD Mathews           599
AM Rahane           2602
AR Patel             494
AT Rayudu           1964
BJ Hodge            1153
DA Miller           1135
DA Warner           2902
DJ Bravo            1032
DJ Hussey           1101
DPMD Jayawardene    1522
Harbhajan Singh      591
IK Pathan            985
JA Morkel            712
JH Kallis           2291
JP Duminy           1634
JP Faulkner          406
KA Pollard          1674
KD Karthik          2360
KM Jadhav            684
LRPL Taylor          847
MK Pandey           1901
MK Tiwary           1444
MS Dhoni            2680
NV Ojha             1356
P Kumar              323
PP Chawla            467
R Vinay Kumar        285
RA Jadeja           1458
RG Sharma           3274
RV Uthappa          2960
S Badrinath         1245
S Dhawan            3005
SK Raina            3369
SPD Smith           1333
SS Tiwary           1111
STR Binny            619
V Kohli             3494
WP Saha             1219
Y Venugopal Rao      865
YK Pathan           2076
Yuvraj Singh        2050
Name: batsman_runs, dtype: int64

In [23]:
strike_rate = runs / balls * 100
print(strike_rate)

batsman
A Mishra             89.005236
AB de Villiers      145.129059
AD Mathews          120.868114
AM Rahane           117.486549
AR Patel            122.672065
AT Rayudu           123.014257
BJ Hodge            121.422376
DA Miller           137.709251
DA Warner           138.318401
DJ Bravo            122.286822
DJ Hussey           120.072661
DPMD Jayawardene    118.791064
Harbhajan Singh     135.194585
IK Pathan           116.751269
JA Morkel           136.938202
JH Kallis           105.936272
JP Duminy           121.970624
JP Faulkner         129.802956
KA Pollard          140.621266
KD Karthik          123.008475
KM Jadhav           130.555556
LRPL Taylor         120.070838
MK Pandey           116.938453
MK Tiwary           114.127424
MS Dhoni            132.835821
NV Ojha             114.528024
P Kumar             105.263158
PP Chawla           110.278373
R Vinay Kumar       106.666667
RA Jadeja           118.792867
RG Sharma           128.497251
RV Uthappa          127.635135
S Badrinath         115.742972
S Dhawan            118.502496
SK Raina            134.995548
SPD Smith           128.507127
SS Tiwary           114.851485
STR Binny           123.747981
V Kohli             126.588437
WP Saha             127.727646
Y Venugopal Rao     113.872832
YK Pathan           140.751445
Yuvraj Singh        126.390244
Name: batsman_runs, dtype: float64