In [1]:
import pandas as pd
delivery = pd.read_csv("DELIVERIES_DATA.csv")
print(delivery)

        match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
0       Royal Challengers Bangalore     1     1      DA Warner       S Dhawan
1       Royal Challengers Bangalore     1     2      DA Warner       S Dhawan
2       Royal Challengers Bangalore     1     3      DA Warner       S Dhawan
3       Royal Challengers Bangalore     1     4      DA Warner       S Dhawan
4       Royal Challengers Bangalore     1     5      DA Warner       S Dhawan
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

          bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
0       TS Mills              0  ...         0            0            0
1       TS Mills              0  ...         0            0            0
2       TS Mills              0  ...         0            0            0
3       TS Mills              0  ...         0            0            0
4       TS Mills              0  ...         0            0            0
...          ...            ...  ...       ...          ...          ...
150455   B Kumar              0  ...         0            0            0
150456   B Kumar              0  ...         0            0            0
150457   B Kumar              0  ...         0            1            0
150458   B Kumar              0  ...         0            0            0
150459   B Kumar              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
0                  0             0           0           0               NaN
1                  0             0           0           0               NaN
2                  0             4           0           4               NaN
3                  0             0           0           0               NaN
4                  0             0           2           2               NaN
...              ...           ...         ...         ...               ...
150455             0             2           0           2               NaN
150456             0             0           0           0         CJ Jordan
150457             0             0           1           1               NaN
150458             0             1           0           1               NaN
150459             0             4           0           4               NaN

       dismissal_kind  fielder
0                 NaN      NaN
1                 NaN      NaN
2                 NaN      NaN
3                 NaN      NaN
4                 NaN      NaN
...               ...      ...
150455            NaN      NaN
150456        run out  NV Ojha
150457            NaN      NaN
150458            NaN      NaN
150459            NaN      NaN

[150460 rows x 21 columns]

In [2]:
import pandas as pd
match = pd.read_csv("MATCH_DATA.csv")
print(match)

      id  season       city        date                        team1  \
0      1    2017  Hyderabad  2017-04-05          Sunrisers Hyderabad
1      2    2017       Pune  2017-04-06               Mumbai Indians
2      3    2017     Rajkot  2017-04-07                Gujarat Lions
3      4    2017     Indore  2017-04-08       Rising Pune Supergiant
4      5    2017  Bangalore  2017-04-08  Royal Challengers Bangalore
..   ...     ...        ...         ...                          ...
631  632    2016     Raipur  2016-05-22             Delhi Daredevils
632  633    2016  Bangalore  2016-05-24                Gujarat Lions
633  634    2016      Delhi  2016-05-25          Sunrisers Hyderabad
634  635    2016      Delhi  2016-05-27                Gujarat Lions
635  636    2016  Bangalore  2016-05-29          Sunrisers Hyderabad

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
631  Royal Challengers Bangalore  Royal Challengers Bangalore         field
632  Royal Challengers Bangalore  Royal Challengers Bangalore         field
633        Kolkata Knight Riders        Kolkata Knight Riders         field
634          Sunrisers Hyderabad          Sunrisers Hyderabad         field
635  Royal Challengers Bangalore          Sunrisers Hyderabad           bat

     result  dl_applied                       winner  win_by_runs  \
0    normal           0          Sunrisers Hyderabad           35
1    normal           0       Rising Pune Supergiant            0
2    normal           0        Kolkata Knight Riders            0
3    normal           0              Kings XI Punjab            0
4    normal           0  Royal Challengers Bangalore           15
..      ...         ...                          ...          ...
631  normal           0  Royal Challengers Bangalore            0
632  normal           0  Royal Challengers Bangalore            0
633  normal           0          Sunrisers Hyderabad           22
634  normal           0          Sunrisers Hyderabad            0
635  normal           0          Sunrisers Hyderabad            8

     win_by_wickets player_of_match  \
0                 0    Yuvraj Singh
1                 7       SPD Smith
2                10         CA Lynn
3                 6      GJ Maxwell
4                 0       KM Jadhav
..              ...             ...
631               6         V Kohli
632               4  AB de Villiers
633               0    MC Henriques
634               4       DA Warner
635               0     BCJ Cutting

                                                venue          umpire1  \
0           Rajiv Gandhi International Stadium, Uppal      AY Dandekar
1             Maharashtra Cricket Association Stadium   A Nand Kishore
2              Saurashtra Cricket Association Stadium      Nitin Menon
3                              Holkar Cricket Stadium     AK Chaudhary
4                               M Chinnaswamy Stadium              NaN
..                                                ...              ...
631  Shaheed Veer Narayan Singh International Stadium   A Nand Kishore
632                             M Chinnaswamy Stadium     AK Chaudhary
633                                  Feroz Shah Kotla        M Erasmus
634                                  Feroz Shah Kotla        M Erasmus
635                             M Chinnaswamy Stadium  HDPK Dharmasena

             umpire2  umpire3
0           NJ Llong      NaN
1             S Ravi      NaN
2          CK Nandan      NaN
3      C Shamshuddin      NaN
4                NaN      NaN
..               ...      ...
631     BNJ Oxenford      NaN
632  HDPK Dharmasena      NaN
633    C Shamshuddin      NaN
634        CK Nandan      NaN
635     BNJ Oxenford      NaN

[636 rows x 18 columns]

In [3]:
new = delivery.merge ( match , how="inner" , left_on="match_id" , right_on="id" )
print(new)

        match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
0       Royal Challengers Bangalore     1     1      DA Warner       S Dhawan
1       Royal Challengers Bangalore     1     2      DA Warner       S Dhawan
2       Royal Challengers Bangalore     1     3      DA Warner       S Dhawan
3       Royal Challengers Bangalore     1     4      DA Warner       S Dhawan
4       Royal Challengers Bangalore     1     5      DA Warner       S Dhawan
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

          bowler  is_super_over  ...  result  dl_applied               winner  \
0       TS Mills              0  ...  normal           0  Sunrisers Hyderabad
1       TS Mills              0  ...  normal           0  Sunrisers Hyderabad
2       TS Mills              0  ...  normal           0  Sunrisers Hyderabad
3       TS Mills              0  ...  normal           0  Sunrisers Hyderabad
4       TS Mills              0  ...  normal           0  Sunrisers Hyderabad
...          ...            ...  ...     ...         ...                  ...
150455   B Kumar              0  ...  normal           0  Sunrisers Hyderabad
150456   B Kumar              0  ...  normal           0  Sunrisers Hyderabad
150457   B Kumar              0  ...  normal           0  Sunrisers Hyderabad
150458   B Kumar              0  ...  normal           0  Sunrisers Hyderabad
150459   B Kumar              0  ...  normal           0  Sunrisers Hyderabad

        win_by_runs  win_by_wickets  player_of_match  \
0                35               0     Yuvraj Singh
1                35               0     Yuvraj Singh
2                35               0     Yuvraj Singh
3                35               0     Yuvraj Singh
4                35               0     Yuvraj Singh
...             ...             ...              ...
150455            8               0      BCJ Cutting
150456            8               0      BCJ Cutting
150457            8               0      BCJ Cutting
150458            8               0      BCJ Cutting
150459            8               0      BCJ Cutting

                                            venue          umpire1  \
0       Rajiv Gandhi International Stadium, Uppal      AY Dandekar
1       Rajiv Gandhi International Stadium, Uppal      AY Dandekar
2       Rajiv Gandhi International Stadium, Uppal      AY Dandekar
3       Rajiv Gandhi International Stadium, Uppal      AY Dandekar
4       Rajiv Gandhi International Stadium, Uppal      AY Dandekar
...                                           ...              ...
150455                      M Chinnaswamy Stadium  HDPK Dharmasena
150456                      M Chinnaswamy Stadium  HDPK Dharmasena
150457                      M Chinnaswamy Stadium  HDPK Dharmasena
150458                      M Chinnaswamy Stadium  HDPK Dharmasena
150459                      M Chinnaswamy Stadium  HDPK Dharmasena

             umpire2 umpire3
0           NJ Llong     NaN
1           NJ Llong     NaN
2           NJ Llong     NaN
3           NJ Llong     NaN
4           NJ Llong     NaN
...              ...     ...
150455  BNJ Oxenford     NaN
150456  BNJ Oxenford     NaN
150457  BNJ Oxenford     NaN
150458  BNJ Oxenford     NaN
150459  BNJ Oxenford     NaN

[150460 rows x 39 columns]

In [4]:
print ( "THE SHAPE OF NEW IS" , new.shape )
print ( "THE SHAPE OF DELIVERY IS" , delivery.shape )
print ( "THE SHAPE OF MATCH IS" , match.shape )

THE SHAPE OF NEW IS (150460, 39)
THE SHAPE OF DELIVERY IS (150460, 21)
THE SHAPE OF MATCH IS (636, 18)

In [5]:
print ( new.groupby("batsman") ["batsman_runs"] .sum() )

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Flintoff          62
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2591
Z Khan             117
Name: batsman_runs, Length: 461, dtype: int64

In [6]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() )

season  batsman
2008    A Chopra              42
        A Kumble              13
        A Mishra              37
        A Mukund               0
        A Nehra                3
                            ...
2017    Washington Sundar      9
        YK Pathan            143
        YS Chahal             13
        Yuvraj Singh         252
        Z Khan                 4
Name: batsman_runs, Length: 1531, dtype: int64

In [7]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .shape )

(1531,)

In [8]:
print ( type ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum()  ) )

<class 'pandas.core.series.Series'>

In [9]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .reset_index() )

      season            batsman  batsman_runs
0       2008           A Chopra            42
1       2008           A Kumble            13
2       2008           A Mishra            37
3       2008           A Mukund             0
4       2008            A Nehra             3
...      ...                ...           ...
1526    2017  Washington Sundar             9
1527    2017          YK Pathan           143
1528    2017          YS Chahal            13
1529    2017       Yuvraj Singh           252
1530    2017             Z Khan             4

[1531 rows x 3 columns]

In [10]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .sort_values(ascending=False) )

season  batsman
2016    V Kohli        973
        DA Warner      848
2013    MEK Hussey     733
2012    CH Gayle       733
2013    CH Gayle       720
                      ...
2017    MM Patel         0
2012    AC Blizzard      0
2011    AB Dinda         0
2017    AD Nath          0
2008    L Balaji         0
Name: batsman_runs, Length: 1531, dtype: int64

In [11]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .sort_values(ascending=False) .reset_index() )

      season      batsman  batsman_runs
0       2016      V Kohli           973
1       2016    DA Warner           848
2       2013   MEK Hussey           733
3       2012     CH Gayle           733
4       2013     CH Gayle           720
...      ...          ...           ...
1526    2017     MM Patel             0
1527    2012  AC Blizzard             0
1528    2011     AB Dinda             0
1529    2017      AD Nath             0
1530    2008     L Balaji             0

[1531 rows x 3 columns]

In [12]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .sort_values(ascending=False) 
       .reset_index() .drop_duplicates(keep="first") )

      season      batsman  batsman_runs
0       2016      V Kohli           973
1       2016    DA Warner           848
2       2013   MEK Hussey           733
3       2012     CH Gayle           733
4       2013     CH Gayle           720
...      ...          ...           ...
1526    2017     MM Patel             0
1527    2012  AC Blizzard             0
1528    2011     AB Dinda             0
1529    2017      AD Nath             0
1530    2008     L Balaji             0

[1531 rows x 3 columns]

In [13]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .sort_values(ascending=False) 
       .reset_index() .drop_duplicates ( subset="season" , keep="first" ) )

    season       batsman  batsman_runs
0     2016       V Kohli           973
2     2013    MEK Hussey           733
3     2012      CH Gayle           733
6     2014    RV Uthappa           660
7     2017     DA Warner           641
9     2010  SR Tendulkar           618
10    2008      SE Marsh           616
11    2011      CH Gayle           608
14    2009     ML Hayden           572
17    2015     DA Warner           562

In [14]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .sort_values(ascending=False) 
       .reset_index() .drop_duplicates ( subset="season" , keep="first" ) .sort_values("season") )

    season       batsman  batsman_runs
10    2008      SE Marsh           616
14    2009     ML Hayden           572
9     2010  SR Tendulkar           618
11    2011      CH Gayle           608
3     2012      CH Gayle           733
2     2013    MEK Hussey           733
6     2014    RV Uthappa           660
17    2015     DA Warner           562
0     2016       V Kohli           973
7     2017     DA Warner           641

In [15]:
print ( new.groupby ([ "season","batsman" ]) ["batsman_runs"] .sum() .sort_values(ascending=False) .reset_index() 
       .drop_duplicates ( subset="season" , keep="first" ) .sort_values("season") [[ "season" , "batsman" ]] )

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
3     2012      CH Gayle
2     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner