In [1]:
import pandas as pd
df = pd.read_csv("MATCH_DATA.csv")
print(df)

      id  season       city        date                        team1  \
0      1    2017  Hyderabad  2017-04-05          Sunrisers Hyderabad
1      2    2017       Pune  2017-04-06               Mumbai Indians
2      3    2017     Rajkot  2017-04-07                Gujarat Lions
3      4    2017     Indore  2017-04-08       Rising Pune Supergiant
4      5    2017  Bangalore  2017-04-08  Royal Challengers Bangalore
..   ...     ...        ...         ...                          ...
631  632    2016     Raipur  2016-05-22             Delhi Daredevils
632  633    2016  Bangalore  2016-05-24                Gujarat Lions
633  634    2016      Delhi  2016-05-25          Sunrisers Hyderabad
634  635    2016      Delhi  2016-05-27                Gujarat Lions
635  636    2016  Bangalore  2016-05-29          Sunrisers Hyderabad

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
631  Royal Challengers Bangalore  Royal Challengers Bangalore         field
632  Royal Challengers Bangalore  Royal Challengers Bangalore         field
633        Kolkata Knight Riders        Kolkata Knight Riders         field
634          Sunrisers Hyderabad          Sunrisers Hyderabad         field
635  Royal Challengers Bangalore          Sunrisers Hyderabad           bat

     result  dl_applied                       winner  win_by_runs  \
0    normal           0          Sunrisers Hyderabad           35
1    normal           0       Rising Pune Supergiant            0
2    normal           0        Kolkata Knight Riders            0
3    normal           0              Kings XI Punjab            0
4    normal           0  Royal Challengers Bangalore           15
..      ...         ...                          ...          ...
631  normal           0  Royal Challengers Bangalore            0
632  normal           0  Royal Challengers Bangalore            0
633  normal           0          Sunrisers Hyderabad           22
634  normal           0          Sunrisers Hyderabad            0
635  normal           0          Sunrisers Hyderabad            8

     win_by_wickets player_of_match  \
0                 0    Yuvraj Singh
1                 7       SPD Smith
2                10         CA Lynn
3                 6      GJ Maxwell
4                 0       KM Jadhav
..              ...             ...
631               6         V Kohli
632               4  AB de Villiers
633               0    MC Henriques
634               4       DA Warner
635               0     BCJ Cutting

                                                venue          umpire1  \
0           Rajiv Gandhi International Stadium, Uppal      AY Dandekar
1             Maharashtra Cricket Association Stadium   A Nand Kishore
2              Saurashtra Cricket Association Stadium      Nitin Menon
3                              Holkar Cricket Stadium     AK Chaudhary
4                               M Chinnaswamy Stadium              NaN
..                                                ...              ...
631  Shaheed Veer Narayan Singh International Stadium   A Nand Kishore
632                             M Chinnaswamy Stadium     AK Chaudhary
633                                  Feroz Shah Kotla        M Erasmus
634                                  Feroz Shah Kotla        M Erasmus
635                             M Chinnaswamy Stadium  HDPK Dharmasena

             umpire2  umpire3
0           NJ Llong      NaN
1             S Ravi      NaN
2          CK Nandan      NaN
3      C Shamshuddin      NaN
4                NaN      NaN
..               ...      ...
631     BNJ Oxenford      NaN
632  HDPK Dharmasena      NaN
633    C Shamshuddin      NaN
634        CK Nandan      NaN
635     BNJ Oxenford      NaN

[636 rows x 18 columns]

In [2]:
myseries = df["winner"].value_counts()
print(myseries)

Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: winner, dtype: int64

In [3]:
print ( myseries.index )

Index(['Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Sunrisers Hyderabad', 'Deccan Chargers',
       'Gujarat Lions', 'Pune Warriors', 'Rising Pune Supergiant',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiants'],
      dtype='object')

In [4]:
print ( myseries.values )

[92 79 77 73 70 63 62 42 29 13 12 10  6  5]

In [5]:
print ( myseries.head() )

Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Name: winner, dtype: int64

In [6]:
print ( myseries.tail() )

Gujarat Lions              13
Pune Warriors              12
Rising Pune Supergiant     10
Kochi Tuskers Kerala        6
Rising Pune Supergiants     5
Name: winner, dtype: int64

In [7]:
print ( myseries["Royal Challengers Bangalore"] )

73

In [8]:
print ( myseries["Kings XI Punjab"] )

70

In [9]:
print ( df["team1"].value_counts() )

Mumbai Indians                 82
Kings XI Punjab                77
Chennai Super Kings            77
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Delhi Daredevils               63
Rajasthan Royals               54
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  14
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: team1, dtype: int64

In [10]:
print ( df["team2"].value_counts() )

Delhi Daredevils               84
Royal Challengers Bangalore    82
Kolkata Knight Riders          80
Mumbai Indians                 75
Kings XI Punjab                71
Rajasthan Royals               64
Chennai Super Kings            54
Deccan Chargers                32
Sunrisers Hyderabad            30
Pune Warriors                  26
Gujarat Lions                  16
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: team2, dtype: int64

In [11]:
print ( df["team1"].value_counts() + df["team2"].value_counts() )

Chennai Super Kings            131
Deccan Chargers                 75
Delhi Daredevils               147
Gujarat Lions                   30
Kings XI Punjab                148
Kochi Tuskers Kerala            14
Kolkata Knight Riders          148
Mumbai Indians                 157
Pune Warriors                   46
Rajasthan Royals               118
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    152
Sunrisers Hyderabad             76
dtype: int64

In [12]:
print ( df["team1"].value_counts() * df["team2"].value_counts() )

Chennai Super Kings            4158
Deccan Chargers                1376
Delhi Daredevils               5292
Gujarat Lions                   224
Kings XI Punjab                5467
Kochi Tuskers Kerala             49
Kolkata Knight Riders          5440
Mumbai Indians                 6150
Pune Warriors                   520
Rajasthan Royals               3456
Rising Pune Supergiant           64
Rising Pune Supergiants          49
Royal Challengers Bangalore    5740
Sunrisers Hyderabad            1380
dtype: int64

In [13]:
print ( df["team1"].value_counts() - df["team2"].value_counts() )

Chennai Super Kings            23
Deccan Chargers                11
Delhi Daredevils              -21
Gujarat Lions                  -2
Kings XI Punjab                 6
Kochi Tuskers Kerala            0
Kolkata Knight Riders         -12
Mumbai Indians                  7
Pune Warriors                  -6
Rajasthan Royals              -10
Rising Pune Supergiant          0
Rising Pune Supergiants         0
Royal Challengers Bangalore   -12
Sunrisers Hyderabad            16
dtype: int64

In [14]:
print ( df["team2"].value_counts() - df["team1"].value_counts() )

Chennai Super Kings           -23
Deccan Chargers               -11
Delhi Daredevils               21
Gujarat Lions                   2
Kings XI Punjab                -6
Kochi Tuskers Kerala            0
Kolkata Knight Riders          12
Mumbai Indians                 -7
Pune Warriors                   6
Rajasthan Royals               10
Rising Pune Supergiant          0
Rising Pune Supergiants         0
Royal Challengers Bangalore    12
Sunrisers Hyderabad           -16
dtype: int64

In [15]:
print ( df["team1"].value_counts() / df["team2"].value_counts() )

Chennai Super Kings            1.425926
Deccan Chargers                1.343750
Delhi Daredevils               0.750000
Gujarat Lions                  0.875000
Kings XI Punjab                1.084507
Kochi Tuskers Kerala           1.000000
Kolkata Knight Riders          0.850000
Mumbai Indians                 1.093333
Pune Warriors                  0.769231
Rajasthan Royals               0.843750
Rising Pune Supergiant         1.000000
Rising Pune Supergiants        1.000000
Royal Challengers Bangalore    0.853659
Sunrisers Hyderabad            1.533333
dtype: float64

In [16]:
print ( df["team2"].value_counts() / df["team1"].value_counts() )

Chennai Super Kings            0.701299
Deccan Chargers                0.744186
Delhi Daredevils               1.333333
Gujarat Lions                  1.142857
Kings XI Punjab                0.922078
Kochi Tuskers Kerala           1.000000
Kolkata Knight Riders          1.176471
Mumbai Indians                 0.914634
Pune Warriors                  1.300000
Rajasthan Royals               1.185185
Rising Pune Supergiant         1.000000
Rising Pune Supergiants        1.000000
Royal Challengers Bangalore    1.171429
Sunrisers Hyderabad            0.652174
dtype: float64